.relative {
  padding: var(--ps-layout-spacing-large) var(--ps-layout-spacing-xlarge);
  background: var(--ps-colors-background-light-2);
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}
