.rotation {
  display: flex;
  margin-bottom: var(--ps-layout-spacing-large);
  padding: var(--ps-layout-spacing-xlarge);
  background: var(--ps-colors-background-light-2);
  border-radius: 12px;
  overflow: hidden;
}
@keyframes rotateme {
  to {
    transform: rotate(360deg);
  }
}
.box {
  background: var(--ps-colors-background-light-3);
  margin-right: var(--ps-layout-spacing-xlarge);
}
.boxSmall {
  border: var(--ps-layout-spacing-xxsmall) solid var(--ps-colors-pink-6);
  height: 32px;
  width: 32px;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: rotateme;
}
.boxLarge {
  border: var(--ps-layout-spacing-small) solid var(--ps-colors-pink-6);
  height: 128px;
  width: 128px;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: rotateme;
}
