.speeds {
  border-radius: 12px;
  background: var(--app-colors-background-med);
  padding: var(--ps-layout-spacing-medium);
}
.speed {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-gap: var(--ps-layout-spacing-medium);
  grid-template-areas: 'icon vars' 'labels labels';
  color: var(--app-colors-text-icon-high);
  margin-bottom: var(--ps-layout-spacing-large);
}
.icon {
  grid-area: icon;
  font-size: var(--ps-type-font-size-1000);
  letter-spacing: var(--ps-type-letter-spacing-tight);
  line-height: 1em;
}
.labels {
  grid-area: labels;
  color: var(--app-colors-text-icon-low);
  font-size: var(--ps-type-font-size-100);
}
.title {
  font-weight: var(--ps-type-font-weight-regular);
  text-transform: uppercase;
}
.time {
  font-weight: var(--ps-type-font-weight-strong);
}
.vars {
  grid-area: vars;
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--ps-type-font-size-100);
  font-weight: var(--ps-type-font-weight-strong);
}
.vars code {
  color: var(--ps-colors-pink-6);
}
