.travel {
  position: relative;
  height: 213px;
  width: 100%;
  background: var(--ps-colors-background-light-2);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: var(--ps-layout-spacing-large);
}
.pills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 var(--ps-layout-spacing-medium);
}
.pill {
  background: var(--ps-colors-pink-6);
  height: 44px;
  margin-top: var(--ps-layout-spacing-large);
  border-radius: 22px;
}
@keyframes pill1 {
  6.67% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  56.67% {
    transform: translateX(0%);
  }
}
@keyframes pill2 {
  6.67% {
    transform: translateX(calc(25% - 44px));
  }
  50% {
    transform: translateX(calc(25% - 44px));
  }
  56.67% {
    transform: translateX(0%);
  }
}
@keyframes pill3 {
  16.67% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  66.67% {
    transform: translateX(0%);
  }
}
.pill1 {
  width: 50%;
  animation-duration: 4s;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-name: pill1;
}
.pill2Container {
  width: calc(100% - 44px);
  animation-duration: 4s;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-name: pill2;
}
.pill3Container {
  width: calc(100% - 44px);
  animation-duration: 4s;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-name: pill3;
}
.pill2,
.pill3 {
  width: 44px;
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--ps-layout-spacing-small) 12.5% var(--ps-layout-spacing-small) 0;
}
.line {
  flex: 1;
  border-right: 1px dashed var(--ps-colors-blue-6);
}
