@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');
@import 'prismjs/plugins/command-line/prism-command-line.css';

code[class*='language-'],
pre[class*='language-'] {
  color: var(--psColorsCodeWhite);
  font-family: 'Source Code Pro', monospace;
  font-size: var(--psTypeFontSizeSmall);
  hyphens: none;
  line-height: var(--psTypeLineHeightTight);
  tab-size: 4;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;

  &::selection,
  & ::selection {
    background-color: var(--psColorsCodeGray);
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--psColorsBackgroundDark3);
  border: 1px solid var(--psColorsBorderLowOnDark);
}

/* Code blocks */
pre[class*='language-'] {
  border-radius: 0.2em;
  margin: 0 0 var(--psLayoutSpacingLarge) 0;
  overflow: auto;
  padding: 1em;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.2em;
  padding: 0.1em;
}

.token.comment {
  color: var(--psColorsCodeGray);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
}

.token.punctuation {
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
}

.token.entity {
}

.token.atrule,
.token.attr-value,
.token.keyword {
}

.token.function,
.token.class-name {
}

.token.regex,
.token.important,
.token.variable {
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
