@import '@pluralsight/ps-design-system-normalize';
@import '@pluralsight/ps-design-system-core';

@custom-media --breakpoint-small (width >= 768px);

.example-grid {
  display: inline-grid;
  grid-template-columns: repeat(4, minmax(0, auto));
  gap: var(--psLayoutSpacingMedium);
  justify-items: start;
}
.example-grid--col-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  gap: var(--psLayoutSpacingMedium);
  justify-items: start;
}
.example-grid--col-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, auto));
  gap: var(--psLayoutSpacingMedium);
  justify-items: start;
}
.example-grid--col-5 {
  display: inline-grid;
  grid-template-columns: repeat(5, minmax(0, auto));
  gap: var(--psLayoutSpacingMedium);
  justify-items: start;
}
.example-grid--spaced > * {
  margin: var(--psLayoutSpacingSmall);
}

.example-flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-flex-column > * {
  margin-bottom: var(--psLayoutSpacingMedium);
}

.example-flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.example-flex-row > :not(:last-child) {
  margin-right: var(--psLayoutSpacingMedium);
}