@keyframes psds-actionmenu__keyframes__slide {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.psds-actionmenu {
  display: inline-block;
  margin-left: 0;
  background: var(--ps-colors-background-light-3);
  border-radius: 2px;
  padding: 4px 0;
  min-width: 160px;
  max-width: 320px;
  list-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: var(--ps-type-font-size-200);
  opacity: 0;
}
.psds-actionmenu__animation {
  animation: psds-actionmenu__keyframes__slide var(--ps-motion-speed-normal)
    forwards;
}
.psds-actionmenu--origin-top-left {
  transform: translate(0, calc(-1 * var(--ps-layout-spacing-xsmall)));
  right: 0;
  top: 0;
}
.psds-actionmenu--origin-bottom-left {
  transform: translate(0, var(--ps-layout-spacing-xsmall));
  bottom: 0;
  right: 0;
}
.psds-actionmenu--origin-top-light {
  transform: translate(0, calc(-1 * var(--ps-layout-spacing-xsmall)));
  left: 0;
  top: 0;
}
.psds-actionmenu--origin-bottom-right {
  transform: translate(0, var(--ps-layout-spacing-xsmall));
  left: 0;
  bottom: 0;
}
.psds-actionmenu__item-container {
  position: relative;
  transition: background var(--ps-motion-speed-xfast);
  color: var(--ps-colors-text-icon-high-on-light);
}
.psds-actionmenu__item-container:focus,
.psds-actionmenu__item-container:hover {
  outline: 0;
}
.psds-actionmenu__item-container:focus {
  background: var(--ps-colors-background-utility-25);
  color: var(--ps-colors-text-icon-high-on-light);
}
.psds-actionmenu__item-container:focus > :first-child [data-submenu-arrow] {
  color: var(--ps-colors-text-icon-high-on-light);
}
.psds-actionmenu__item-container:hover:focus
  > :first-child
  [data-submenu-arrow] {
  color: var(--ps-colors-text-icon-high-on-light);
}
.psds-actionmenu__item-container:hover:not([data-disabled]) {
  background: var(--ps-colors-background-utility-25);
  color: var(--ps-colors-text-icon-high-on-light);
}
.psds-actionmenu__item-container:hover > ul:not(:empty) {
  visibility: visible;
  height: auto;
  min-width: 160px;
  width: auto;
  opacity: 1;
}
.psds-actionmenu__item-container--active:not([data-disabled]) {
  background: var(--ps-colors-background-utility-25);
  color: var(--ps-colors-text-icon-high-on-light);
}
.psds-actionmenu__item-container--active:not([data-disabled])
  > :first-child
  [data-submenu-arrow] {
  color: var(--ps-colors-text-icon-high-on-light);
}
.psds-actionmenu__nested {
  display: inline-block;
  height: 0;
  min-width: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  transition: transform var(--ps-motion-speed-normal),
    opacity var(--ps-motion-speed-normal);
}
.psds-actionmenu__nested[aria-expanded='true'] {
  visibility: visible;
  height: auto;
  min-width: 160px;
  width: auto;
}
.psds-actionmenu__nested[aria-expanded='false'] {
  visibility: hidden;
  height: 0;
  min-width: 0;
  width: 0;
}
.psds-actionmenu__nested.psds-actionmenu--origin-top-left {
  transform: translate(calc(100% + var(--ps-layout-spacing-xsmall)), 0);
  opacity: 0;
  right: 0;
  top: calc(-1 * 4px);
}
.psds-actionmenu__nested.psds-actionmenu--origin-top-left[aria-expanded='true'] {
  transform: translate(100%, 0);
  opacity: 1;
}
.psds-actionmenu__nested.psds-actionmenu--origin-bottom-left {
  transform: translate(calc(100% + var(--ps-layout-spacing-xsmall)), 0);
  opacity: 0;
  bottom: calc(-1 * 4px);
  right: 0;
}
.psds-actionmenu__nested.psds-actionmenu--origin-bottom-left[aria-expanded='true'] {
  transform: translate(100%, 0);
  opacity: 1;
}
.psds-actionmenu__nested.psds-actionmenu--origin-top-right {
  transform: translate(
    calc(-100% + calc(-1 * var(--ps-layout-spacing-xsmall))),
    0
  );
  opacity: 0;
  left: 0;
  top: calc(-1 * 4px);
}
.psds-actionmenu__nested.psds-actionmenu--origin-top-right[aria-expanded='true'] {
  transform: translate(-100%, 0);
  opacity: 1;
}
.psds-actionmenu__nested.psds-actionmenu--origin-bottom-right {
  transform: translate(
    calc(-100% + calc(-1 * var(--ps-layout-spacing-xsmall))),
    0
  );
  opacity: 0;
  bottom: calc(-1 * 4px);
  left: 0;
}
.psds-actionmenu__nested.psds-actionmenu--origin-bottom-right[aria-expanded='true'] {
  transform: translate(-100%, 0);
  opacity: 1;
}
.psds-actionmenu__item {
  display: inline-block;
  width: 100%;
  color: inherit;
  line-height: var(--ps-type-line-height-extra);
  font-weight: var(--ps-type-font-weight-500);
  cursor: pointer;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--ps-layout-spacing-medium);
  padding-right: var(--ps-layout-spacing-medium);
  background: 0 0;
  text-decoration: none;
}
.psds-actionmenu__item-inner {
  display: flex;
  align-items: center;
  text-align: left;
  min-width: 0;
}
.psds-actionmenu__ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.psds-actionmenu__item--nested {
  padding-right: var(--ps-layout-spacing-xsmall);
}
.psds-actionmenu__item--isActive {
  background: var(--ps-colors-background-light-2);
  outline: 0;
}
.psds-actionmenu__item--disabled {
  opacity: 50%;
  cursor: not-allowed;
  outline: 0;
  pointer-events: none;
}
.psds-actionmenu__divider {
  height: 1px;
  width: 100%;
  background-color: var(--ps-colors-border-low-on-light);
  margin: var(--ps-layout-spacing-xxsmall) 0;
}
.psds-actionmenu__item__icon {
  display: inline-flex;
  align-items: center;
  margin-right: var(--ps-layout-spacing-xsmall);
}
.psds-actionmenu__item__arrow {
  color: var(--ps-colors-text-icon-low-on-light);
  margin-left: auto;
  padding-left: var(--ps-layout-spacing-xsmall);
}
.psds-actionmenu__item__arrow__svg {
  fill: currentColor;
}
.psds-actionmenu__icon {
  display: inline-flex;
  align-items: center;
}
.psds-actionmenu__icon-left {
  margin-right: var(--ps-layout-spacing-xsmall);
}
.psds-actionmenu__icon-right {
  margin-left: var(--ps-layout-spacing-xsmall);
}
