@import "@pluralsight/ps-design-system-core";

.icons {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  background-color: var(--psColorsBone);
  margin: - var(--psLayoutSpacingLarge) - var(--psLayoutSpacingLarge);
}
.icon {
  display: flex;
  width: 165px;
  height: 48px;
  align-items: center;
  margin: var(--psLayoutSpacingLarge);
}
.iconLabel {
  margin-left: var(--psLayoutSpacingMedium);
  font-size: var(--psTypeFontSizeXSmall);
}
