@import "@pluralsight/ps-design-system-core";

.root {
  font-size: var(--psTypeFontSizeLarge);
  letter-spacing: var(--psTypeLetterSpacingLarge);
  font-weight: var(--psTypeFontWeightBook);
  color: var(--psColorsGray06);
  margin: 0;
  padding-top: var(--psLayoutSpacingXl);
}
