@import "@pluralsight/ps-design-system-core";

.carousel {
  width: 100%;
  display: flex;
  padding: var(--psLayoutSpacingMedium);
  background: var(--psColorsGray06);
}
.cardContainer {
  flex: 1;
}
.cardContainer + .cardContainer {
  margin-left: var(--psLayoutSpacingMedium);
}
