@import "@pluralsight/ps-design-system-core";

.ps-button {
  display: inline-block;
  padding: 8px 16px;
  border: 0;
  border-radius: 2px;

  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
  font-weight: var(--psTypeFontWeightMedium);
  text-align: center;

  /* TODO: font family */
  color: #fff;
  background: var(--psColorsOrange);
  cursor: pointer;
}

/* size */
.ps-button--tiny {
  font-size: var(--psTypeFontSizeExtraSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--small {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--medium {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--large {
  font-size: var(--psTypeFontSizeMedium);
  line-height: var(--psTypeLineHeightExtra);
}

/* appearance */
.ps-button--stroke {
  border: 1px solid var(--psColorsOrange);
  color: var(--psColorsOrange);
  background: none;
}
.ps-button--flat {
  border: none;
  color: var(--psColorsGray02);
  background: none;
}
.ps-button--flat:hover {
  color: var(--psColorsWhite);
  background: var(--psColorsGray04);
}

/* icon and iconAlign */

/* disabled */
.ps-button--disabled {
  color: var(--psColorsGray02);
}
.ps-button--disabled:not(.ps-button--flat) {
  background: var(--psColorsGray04);
}
.ps-button--disabled.ps-button--flat {
  opacity: 0.4;
}
.ps-button--disabled.ps-button--flat:hover {
  color: var(--psColorsGray02);
  background: none;
}