.test {
  color:red;
}
.ps-button {
  display: inline-block;
  padding: 8px 16px;
  border: 0;
  border-radius: 2px;
  font-weight: 500;

  font-size: 14px;
  line-height: 24px;
  text-align: center;

  /* TODO: font family */
  color: #fff;
  background: #F96816;
}
.ps-button-medium {
  composes: ps-button;
}