@import "@pluralsight/ps-design-system-core";

.ps-button {
  display: inline-block;
  padding: 8px 16px;
  border: 0;
  border-radius: 2px;

  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
  font-weight: var(--psTypeFontWeightMedium);
  text-align: center;

  /* TODO: font family */
  color: #fff;
  background: var(--psColorsOrange);
}

/* size */
.ps-button--tiny {
  font-size: var(--psTypeFontSizeExtraSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--small {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--medium {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--large {
  font-size: var(--psTypeFontSizeMedium);
  line-height: var(--psTypeLineHeightExtra);
}

/* appearance */
.ps-button--stroke {
  border: 1px solid var(--psColorsOrange);
  color: var(--psColorsOrange);
  background: none;
}
.ps-button--flat {
  border: none;
  color: var(--psColorsOrange);
  background: none;
}

/* icon and iconAlign */

/* disabled */