{
  "plugins": [
    "syntax-export-extensions",
    "transform-export-extensions",
    "glamorous-displayname"
  ],
  "presets": [
    "react",
    "stage-2",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        }
      }
    ]
  ],
  "ignore": ["dangerfile.js"]
}
