# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

.vim
.vscode

node_modules
npm-debug.log

coverage

.env*

.git
.gitignore

nodemon.json

README.md

Dockerfile*
docker-compose*
.dockerignore

.cache
dist

public
!public/favicon.ico
