workflow:
  rules:
    - if: '$CI_COMMIT_MESSAGE == "build: publish"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

stages:
  - .pre
  - lint
  - test
  - build
  # TODO: via helm
  - deploy
  - .post

default:
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .yarn
  image: docker:stable
  retry:
    max: 1
    when:
      - runner_system_failure
  services:
    - docker:18.09.7-dind

install:
  image: node:13.8-alpine
  stage: .pre
  script:
    - yarn config set ignore-engines true
    - yarn install

danger:
  image: node:13.8-alpine
  stage: lint
  script:
    - yarn config set ignore-engines true
    - yarn install
    - danger ci --failOnErrors

lint:
  image: node:13.8-alpine
  stage: lint
  script:
    - yarn config set ignore-engines true
    - yarn lint:ci

test:
  image: node:13.8-alpine
  stage: test
  script:
    - yarn config set ignore-engines true
    - yarn build
    - yarn test

