workflow:
  rules:
    - if: '$CI_COMMIT_MESSAGE == "build: publish"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

stages:
  - .pre
  - test
  - .post

default:
  cache:
    key: $CI_PROJECT_ID
    policy: pull
    untracked: true
  image: node:14.3-alpine
  retry:
    max: 1
    when:
      - runner_system_failure
  services:
    - docker:18.09.7-dind

install:
  stage: .pre
  cache:
    key: $CI_PROJECT_ID
    policy: pull-push
    paths:
      - .yarn
      - node_modules
      - 'packages/*/node_modules'
  script: 
    - yarn config set ignore-engines true
    - yarn install --frozen-lockfile --cache-folder .yarn

test:
  stage: test
  script:
    - yarn build
    - yarn test:ci

