@import "@pluralsight/ps-design-system-core";

.header {
  background: linear-gradient(to top, #2bb2e3, #137bc2);
  background: linear-gradient(to top, #00adfd, #137bc2);
  height: 178px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.header .title {
  display: flex;
  align-items: center;
  color: var(--psColorsWhite);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--psLayoutSpacingLarge);
  width: 100%;
  text-align: left;
}
.titleSvg {
  fill: var(--psColorsWhite);
  height: 56px;
  width: 486px;
  max-width: 100%;
}

.point {
  margin-bottom: 44px;
}
.pointTitle {
}

.action {
  display: block;
  margin-bottom: 44px;
}
.robotContainer {
  padding: 0 var(--psLayoutSpacingLarge) var(--psLayoutSpacingLarge)
    var(--psLayoutSpacingLarge);
}

@media screen and (min-width: 769px) {
  .title {
    max-width: 900px;
    min-width: 300px;
  }
  .points {
    display: flex;
  }
  .point {
    margin-bottom: 24px;
  }
  .point + .point {
    margin-left: var(--psLayoutSpacingLarge);
  }
}
