@import '@pluralsight/ps-design-system-normalize';

body {
  color: var(--ps-colors-text-icon-high-on-dark);
  background: var(--ps-colors-background-dark-1);
  padding: 1rem;
}

.header {
  color: rebeccapurple
}
