:root {
  --psColorsBlueBase: #0084bd;
  --psColorsBlue1: #d9f1ff;
  --psColorsBlue2: #b9e4fd;
  --psColorsBlue3: #8ed1f6;
  --psColorsBlue4: #58b9eb;
  --psColorsBlue5: #2ea0d6;
  --psColorsBlue6: #0084bd;
  --psColorsBlue7: #0074ab;
  --psColorsBlue8: #006395;
  --psColorsBlue9: #005685;
  --psColorsBlue10: #00446b;

  --psColorsTealBase: #00baa5;
  --psColorsTeal1: #d5faf5;
  --psColorsTeal2: #affaef;
  --psColorsTeal3: #84f0e1;
  --psColorsTeal4: #5ce6d4;
  --psColorsTeal5: #2fd1be;
  --psColorsTeal6: #00baa5;
  --psColorsTeal7: #00a894;
  --psColorsTeal8: #009380;
  --psColorsTeal9: #007a6a;
  --psColorsTeal10: #006658;

  --psColorsGreenBase: #009e52;
  --psColorsGreen1: #d9fae5;
  --psColorsGreen2: #adf0c8;
  --psColorsGreen3: #82e2ab;
  --psColorsGreen4: #57d08e;
  --psColorsGreen5: #2bb970;
  --psColorsGreen6: #009e52;
  --psColorsGreen7: #008f46;
  --psColorsGreen8: #007c3a;
  --psColorsGreen9: #00672e;
  --psColorsGreen10: #005724;

  --psColorsLimeBase: #8cca08;
  --psColorsLime1: #ecffc7;
  --psColorsLime2: #deffa3;
  --psColorsLime3: #ccfc7a;
  --psColorsLime4: #b8f052;
  --psColorsLime5: #a3e029;
  --psColorsLime6: #8cca08;
  --psColorsLime7: #7bb600;
  --psColorsLime8: #6ba300;
  --psColorsLime9: #588a00;
  --psColorsLime10: #4c7700;

  --psColorsYellowBase: #fad000;
  --psColorsYellow1: #fffbcc;
  --psColorsYellow2: #fff7a8;
  --psColorsYellow3: #fff380;
  --psColorsYellow4: #ffeb57;
  --psColorsYellow5: #ffdf29;
  --psColorsYellow6: #fad000;
  --psColorsYellow7: #e2b500;
  --psColorsYellow8: #cc9e00;
  --psColorsYellow9: #b28300;
  --psColorsYellow10: #946500;

  --psColorsOrangeBase: #f59127;
  --psColorsOrange1: #ffecd1;
  --psColorsOrange2: #ffdcad;
  --psColorsOrange3: #ffcd8a;
  --psColorsOrange4: #ffba61;
  --psColorsOrange5: #ffa43e;
  --psColorsOrange6: #f59127;
  --psColorsOrange7: #e27a18;
  --psColorsOrange8: #cb670b;
  --psColorsOrange9: #b85500;
  --psColorsOrange10: #9e4100;

  --psColorsRedBase: #d21c09;
  --psColorsRed1: #ffd6d6;
  --psColorsRed2: #ffb3b3;
  --psColorsRed3: #ff8a8a;
  --psColorsRed4: #f86968;
  --psColorsRed5: #e94a3f;
  --psColorsRed6: #d21c09;
  --psColorsRed7: #c00f00;
  --psColorsRed8: #ab0600;
  --psColorsRed9: #920000;
  --psColorsRed10: #750000;

  --psColorsPinkBase: #e7558b;
  --psColorsPink1: #ffddeb;
  --psColorsPink2: #ffc2db;
  --psColorsPink3: #ffa3c8;
  --psColorsPink4: #ff8ab5;
  --psColorsPink5: #f66fa1;
  --psColorsPink6: #e7558b;
  --psColorsPink7: #d1487b;
  --psColorsPink8: #c13368;
  --psColorsPink9: #a22554;
  --psColorsPink10: #8a1a45;

  --psColorsPurpleBase: #8359df;
  --psColorsPurple1: #e9deff;
  --psColorsPurple2: #d6c2ff;
  --psColorsPurple3: #c0a3ff;
  --psColorsPurple4: #a883f8;
  --psColorsPurple5: #956ced;
  --psColorsPurple6: #8359df;
  --psColorsPurple7: #7048c6;
  --psColorsPurple8: #5934ac;
  --psColorsPurple9: #482592;
  --psColorsPurple10: #351973;

  --psColorsTextIconHighOnDark: rgba(255, 255, 255, 0.95);
  --psColorsTextIconHighOnLight: rgba(0, 0, 0, 0.9);
  --psColorsTextIconLowOnDark: rgba(255, 255, 255, 0.7);
  --psColorsTextIconLowOnLight: rgba(0, 0, 0, 0.65);

  --psColorsBorderHighOnDark: rgba(255, 255, 255, 0.3);
  --psColorsBorderHighOnLight: rgba(0, 0, 0, 0.3);
  --psColorsBorderLowOnDark: rgba(255, 255, 255, 0.15);
  --psColorsBorderLowOnLight: rgba(0, 0, 0, 0.15);

  --psColorsBackgroundDark1: #0d0f12;
  --psColorsBackgroundDark2: #181c20;
  --psColorsBackgroundDark3: #1e2429;

  --psColorsBackgroundLight1: #f0f3f5;
  --psColorsBackgroundLight2: #f7f9fa;
  --psColorsBackgroundLight3: #ffffff;

  --psColorsBackgroundUtilityBase: #b0b0b0;
  --psColorsBackgroundUtility10: rgba(138, 153, 168, 0.1);
  --psColorsBackgroundUtility15: rgba(138, 153, 168, 0.15);
  --psColorsBackgroundUtility20: rgba(138, 153, 168, 0.2);
  --psColorsBackgroundUtility25: rgba(138, 153, 168, 0.25);
  --psColorsBackgroundUtility30: rgba(138, 153, 168, 0.3);
  --psColorsBackgroundUtility40: rgba(138, 153, 168, 0.4);
  --psColorsBackgroundUtility60: rgba(138, 153, 168, 0.6);

  --psColorsGradientSkillsBackground: linear-gradient(
    90deg,
    #e80a89 0%,
    #f15b2a 100%
  );
  --psColorsGradientSkillsStop0: #e80a89;
  --psColorsGradientSkillsStop100: #f15b2a;
  --psColorsGradientFlowBackground: linear-gradient(
    90deg,
    #2968b2 0%,
    #27aae1 100%
  );
  --psColorsGradientFlowStop0: #2968b2;
  --psColorsGradientFlowStop100: #27aae1;

  --psColorsPrimaryActionBackground: #0074ab;
  --psColorsPrimaryActionTextDarkTheme: #2ea0d6;
  --psColorsPrimaryActionTextLightTheme: #0074ab;

  --psColorsStatusError: #c00f00;
  --psColorsStatusInfo: #0074ab;
  --psColorsStatusSuccess: #007c3a;
  --psColorsStatusWarning: #fad000;

  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;

  --psColorsCodeWhite: #f2f2f2;
  --psColorsCodeGray: #aaaaaa;
  --psColorsCodeRed: #f26d6d;
  --psColorsCodeOrange: #ff9466;
  --psColorsCodeYellow: #ffca80;
  --psColorsCodeGreen: #b8cc7a;
  --psColorsCodeTurquoise: #abd9c6;
  --psColorsCodeBlue: #8ac7e6;
  --psColorsCodePurple: #e695bd;
  --psColorsCodeSand: #d99077;

  --psColorsBlack: #000000;
}
