:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsGreen: #23aa5a;
  --psColorsBlue: #137bc2;

  /* gradients */
  --psColorsGradientHorz: linear-gradient(to right, #f05a28, #e80a89);
  --psColorsGradientVert: linear-gradient(to bottom, #f05a28, #e80a89);

  --psColorsCodeRed: #f26d6d;
  --psColorsCodeOrange: #ff9466;
  --psColorsCodeYellow: #ffca80;
  --psColorsCodeGreen: #b8cc7a;
  --psColorsCodeTurquoise: #abd9c6;
  --psColorsCodeBlue: #8ac7e6;
  --psColorsCodePurple: #e695bd;
  --psColorsCodeSand: #d99077;
}
