@import "@pluralsight/ps-design-system-normalize";
@import url(https://cloud.typography.com/6966154/691568/css/fonts.css);
@import "@pluralsight/ps-design-system-core";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
}
h2, h3 {
  font-family: var(--psTypeFontFamily);
  font-weight: var(--psTypeFontWeightXLight);
}
.box {
  margin-top: var(--psLayoutSpacingLarge);
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsBone);
  border-radius: 4px;
}
