@import "@pluralsight/ps-design-system-core";

:root {
  --psIconHeight: 24px;
  --psIconWidth: 24px;
}

.ps-icon {
  display: inline-block;
  height: var(--psIconHeight);
  width: var(--psIconWidth);
}
.ps-icon__fg--fill {
  fill: currentColor;
}
.ps-icon__fg--stroke {
  stroke: currentColor;
}

/* size */
.ps-icon--x-large {
  height: 160px;
  width: 160px;
}
.ps-icon--large {
  height: 96px;
  width: 96px;
}
.ps-icon--medium {
  height: 48px;
  width: 48px;
}
.ps-icon--small {
  height: 24px;
  width: 24px;
}
.ps-icon--tiny {
  height: 12px;
  width: 12px;
}
