@import "@pluralsight/ps-design-system-normalize";
@import url(https://cloud.typography.com/6966154/691568/css/fonts.css);
@import "@pluralsight/ps-design-system-core";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
}
h2, h3 {
  font-family: var(--psTypeFontFamily);
  font-weight: var(--psTypeFontWeightXLight);
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: var(--psLayoutSpacingLarge);
  color: var(--psColorsWhite);
  background: var(--psColorsGray04);
  padding: var(--psLayoutSpacingLarge);
  border-radius: 4px;
}
.icon h3 {
  margin-bottom: var(--psLayoutSpacingMedium);
}
.icon + .icon {
  margin-left: var(--psLayoutSpacingXXLarge);
}
.psIconStyleableOverride {
  height: 100px;
  width: 100px;
}
.customStyleableOverride {
  height: 50px;
  width: 50px;
}
.customStyleableOverride path {
  fill: var(--psColorsOrange);
}
