@keyframes psds-button__keyframes__spin {
  100% {
    transform: rotate(360deg);
  }
}
.psds-button__loading {
  display: inline-block;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  animation: psds-button__keyframes__spin 1s linear infinite;
}
.psds-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  border: 0;
  border-radius: 3px;
  font-size: var(--psTypeFontSize300);
  font-weight: var(--psTypeFontWeight500);
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  transition: background var(--psMotionSpeedFast),
    transform var(--psMotionSpeedXFast);
  vertical-align: middle;
}
.psds-button:not([disabled]):hover {
  cursor: pointer;
}
.psds-button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
.psds-button:not([disabled]):active {
  transform: scale(0.98);
}
.psds-button.psds-theme--dark:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--psColorsBlue4);
}
.psds-button.psds-theme--dark:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--psColorsBlue4);
}
.psds-button.psds-theme--light:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--psColorsBlue8);
}
.psds-button.psds-theme--light:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--psColorsBlue8);
}
.psds-button--layout-fullWidth {
  display: flex;
  width: 100%;
}
.psds-button--size-xSmall {
  font-size: var(--psTypeFontSize100);
  letter-spacing: var(--psTypeLetterSpacingLooser);
  padding: 4px 8px;
  height: 24px;
}
.psds-button--size-small {
  font-size: var(--psTypeFontSize200);
  letter-spacing: var(--psTypeLetterSpacingLooser);
  padding: 6px 12px;
  height: 32px;
}
.psds-button--size-medium {
  font-size: var(--psTypeFontSize300);
  letter-spacing: var(--psTypeLetterSpacingLoose);
  padding: 10px 16px;
  height: 40px;
}
.psds-button--size-large {
  font-size: var(--psTypeFontSize400);
  letter-spacing: var(--psTypeLetterSpacingNone);
  padding: 12px 20px;
  height: 48px;
}
.psds-button--appearance-primary.psds-theme--dark {
  color: var(--psColorsTextIconHighOnDark);
  background: var(--psColorsPrimaryActionBackground);
}
.psds-button--appearance-primary.psds-theme--dark:not([disabled]):hover {
  background: var(--psColorsBlue8);
  cursor: pointer;
}
.psds-button--appearance-primary.psds-theme--dark:not([disabled]):focus {
  background: var(--psColorsBlue8);
  cursor: pointer;
}
.psds-button--appearance-primary.psds-theme--dark:not([disabled]):active {
  background: var(--psColorsBlue9);
}
.psds-button--appearance-primary.psds-theme--light {
  color: var(--psColorsTextIconHighOnDark);
  background: var(--psColorsPrimaryActionBackground);
}
.psds-button--appearance-primary.psds-theme--light:not([disabled]):hover {
  background: var(--psColorsBlue8);
  cursor: pointer;
}
.psds-button--appearance-primary.psds-theme--light:not([disabled]):focus {
  background: var(--psColorsBlue8);
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--psColorsBlue5);
}
.psds-button--appearance-primary.psds-theme--light:not([disabled]):focus-visible {
  box-shadow: 0 0 0 2px var(--psColorsBlue5);
}
.psds-button--appearance-primary.psds-theme--light:not([disabled]):active {
  background: var(--psColorsBlue9);
}
.psds-button--appearance-secondary.psds-theme--dark {
  color: var(--psColorsTextIconHighOnDark);
  background: var(--psColorsBackgroundUtility25);
}
.psds-button--appearance-secondary.psds-theme--dark:not([disabled]):hover {
  background: var(--psColorsBackgroundUtility30);
}
.psds-button--appearance-secondary.psds-theme--dark:not([disabled]):focus {
  background: var(--psColorsBackgroundUtility30);
}
.psds-button--appearance-secondary.psds-theme--dark:not([disabled]):active {
  background: var(--psColorsBackgroundUtility20);
}
.psds-button--appearance-secondary.psds-theme--light {
  color: var(--psColorsTextIconHighOnLight);
  background: var(--psColorsBackgroundUtility20);
}
.psds-button--appearance-secondary.psds-theme--light:not([disabled]):hover {
  background: var(--psColorsBackgroundUtility25);
}
.psds-button--appearance-secondary.psds-theme--light:not([disabled]):focus {
  background: var(--psColorsBackgroundUtility25);
}
.psds-button--appearance-secondary.psds-theme--light:not([disabled]):active {
  background: var(--psColorsBackgroundUtility30);
}
.psds-button--appearance-stroke.psds-theme--dark {
  border: 2px solid var(--psColorsPrimaryActionBackground);
  color: var(--psColorsPrimaryActionTextDarkTheme);
  background: 0 0;
}
.psds-button--appearance-stroke.psds-theme--dark:not([disabled]):hover {
  border: 2px solid var(--psColorsBlue5);
  background: rgba(10, NaN, NaN, 0.15);
  color: var(--psColorsBlue4);
}
.psds-button--appearance-stroke.psds-theme--dark:not([disabled]):focus {
  border: 2px solid var(--psColorsBlue5);
  background: rgba(10, NaN, NaN, 0.15);
  color: var(--psColorsBlue4);
}
.psds-button--appearance-stroke.psds-theme--dark:not([disabled]):active {
  border: 2px solid var(--psColorsBlue7);
  background: rgba(10, NaN, NaN, 0.2);
}
.psds-button--appearance-stroke.psds-theme--light {
  border: 2px solid var(--psColorsPrimaryActionBackground);
  color: var(--psColorsPrimaryActionTextLightTheme);
  background: 0 0;
}
.psds-button--appearance-stroke.psds-theme--light:not([disabled]):hover {
  border: 2px solid var(--psColorsBlue7);
  background: rgba(10, NaN, NaN, 0.05);
  color: var(--psColorsBlue8);
}
.psds-button--appearance-stroke.psds-theme--light:not([disabled]):focus {
  border: 2px solid var(--psColorsBlue7);
  background: rgba(10, NaN, NaN, 0.05);
  color: var(--psColorsBlue8);
}
.psds-button--appearance-stroke.psds-theme--light:not([disabled]):active {
  border: 2px solid var(--psColorsBlue8);
  background: rgba(10, NaN, NaN, 0.1);
}
.psds-button--appearance-flat {
  border: none;
  background: 0 0;
}
.psds-button--appearance-flat.psds-theme--dark {
  color: var(--psColorsTextIconLowOnDark);
}
.psds-button--appearance-flat.psds-theme--dark:not([disabled]):hover {
  background: var(--psColorsBackgroundUtility25);
  color: var(--psColorsTextIconHighOnDark);
}
.psds-button--appearance-flat.psds-theme--dark:not([disabled]):focus {
  background: var(--psColorsBackgroundUtility25);
  color: var(--psColorsTextIconHighOnDark);
}
.psds-button--appearance-flat.psds-theme--dark:not([disabled]):active {
  background: var(--psColorsBackgroundUtility20);
  color: var(--psColorsTextIconHighOnDark);
}
.psds-button--appearance-flat.psds-theme--light {
  color: var(--psColorsTextIconLowOnLight);
}
.psds-button--appearance-flat.psds-theme--light:not([disabled]):hover {
  background: var(--psColorsBackgroundUtility20);
  color: var(--psColorsTextIconHighOnLight);
}
.psds-button--appearance-flat.psds-theme--light:not([disabled]):focus {
  background: var(--psColorsBackgroundUtility20);
  color: var(--psColorsTextIconHighOnLight);
}
.psds-button--appearance-flat.psds-theme--light:not([disabled]):active {
  background: var(--psColorsBackgroundUtility15);
  color: var(--psColorsTextIconHighOnLight);
}
.psds-button--disabled {
  opacity: 50%;
  cursor: not-allowed;
}
.psds-button--disabled:not([disabled]):hover {
  color: inherit;
  background: inherit;
  border: inherit;
}
.psds-button--disabled.psds-theme--light {
  opacity: 0.5;
}
.psds-button--disabled.psds-button--appearance-primary {
  opacity: 0.5;
}
.psds-button--disabled.psds-button--appearance-secondary {
  opacity: 0.5;
}
.psds-button--disabled.psds-button--appearance-stroke {
  opacity: 0.5;
}
.psds-button--disabled.psds-button--appearance-flat {
  opacity: 0.5;
}
.psds-button--iconAlign-right {
  flex-direction: row-reverse;
}
.psds-button--iconAlign-right.psds-button--not-iconOnly.psds-button--size-xSmall {
  padding-right: 4px;
}
.psds-button--iconAlign-left.psds-button--not-iconOnly.psds-button--size-xSmall {
  padding-left: 4px;
}
.psds-button--iconAlign-right.psds-button--not-iconOnly.psds-button--size-small {
  padding-right: 8px;
}
.psds-button--iconAlign-left.psds-button--not-iconOnly.psds-button--size-small {
  padding-left: 8px;
}
.psds-button--iconAlign-right.psds-button--not-iconOnly.psds-button--size-medium {
  padding-right: 12px;
}
.psds-button--iconAlign-left.psds-button--not-iconOnly.psds-button--size-medium {
  padding-left: 12px;
}
.psds-button--iconAlign-right.psds-button--not-iconOnly.psds-button--size-large {
  padding-right: 16px;
}
.psds-button--iconAlign-left.psds-button--not-iconOnly.psds-button--size-large {
  padding-left: 16px;
}
.psds-button--iconOnly {
  padding: 0;
}
.psds-button--iconOnly.psds-button--size-xSmall {
  width: 24px;
}
.psds-button--iconOnly.psds-button--size-small {
  width: 32px;
}
.psds-button--iconOnly.psds-button--size-medium {
  width: 40px;
}
.psds-button--iconOnly.psds-button--size-large {
  width: 48px;
}
.psds-button__icon {
  display: flex;
  align-items: center;
  min-height: 100%;
}
.psds-button__icon--iconAlign-right {
  margin-left: 8px;
  margin-right: 0;
}
.psds-button__icon--iconAlign-left {
  margin-left: 0;
  margin-right: 8px;
}
.psds-button__icon--iconAlign-right.psds-button--size-xSmall {
  margin-left: 4px;
  margin-right: 0;
}
.psds-button__icon--iconAlign-left.psds-button--size-xSmall {
  margin-left: 0;
  margin-right: 4px;
}
.psds-button__icon--iconAlign-right.psds-button--size-small {
  margin-left: 4px;
  margin-right: 0;
}
.psds-button__icon--iconAlign-left.psds-button--size-small {
  margin-left: 0;
  margin-right: 4px;
}
.psds-button__icon--iconOnly {
  justify-content: center;
  width: 100%;
  margin: 0;
}
.psds-button__icon--loadingLabelOnly {
  position: absolute;
  top: 0;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.psds-button__loading--appearance-primary {
  border-color: var(--psColorsBorderLowOnDark);
  border-top-color: var(--psColorsTextIconHighOnDark);
}
.psds-button__loading--appearance-secondary.psds-button__loading--theme-light {
  border-color: var(--psColorsBorderLowOnLight);
  border-top-color: var(--psColorsTextIconHighOnLight);
}
.psds-button__loading--appearance-secondary.psds-button__loading--theme-dark {
  border-color: var(--psColorsBorderLowOnDark);
  border-top-color: var(--psColorsTextIconHighOnDark);
}
.psds-button__loading--appearance-stroke.psds-button__loading--theme-light {
  border-color: var(--psColorsBorderLowOnLight);
  border-top-color: var(--psColorsPrimaryActionBackground);
}
.psds-button__loading--appearance-stroke.psds-button__loading--theme-dark {
  border-color: var(--psColorsBorderLowOnDark);
  border-top-color: var(--psColorsPrimaryActionBackground);
}
.psds-button__loading--appearance-flat.psds-button__loading--theme-light {
  border-color: var(--psColorsBorderLowOnLight);
  border-top-color: var(--psColorsTextIconHighOnLight);
}
.psds-button__loading--appearance-flat.psds-button__loading--theme-dark {
  border-color: var(--psColorsBorderLowOnDark);
  border-top-color: var(--psColorsTextIconHighOnDark);
}
.psds-button__text {
  align-items: center;
  display: inline-flex;
  pointer-events: none;
}
.psds-button__text--invisible {
  visibility: hidden;
}
