.guideline {
  margin-top: var(--psLayoutSpacingLarge);
  margin-bottom: var(--psLayoutSpacingLarge);
}

.box {
  border-radius: 12px;
  height: 100%;
  padding: var(--psLayoutSpacingXLarge);
  position: relative;
  background: var(--appColorsBackgroundHi);
  color: var(--appColorsTextIconHigh);

  &.vertical {
    height: auto;
    margin-bottom: var(--psLayoutSpacingMedium);
  }
}

.badgeWrapper {
  position: absolute;
  top: 0;
  left: 0;
}
