.guideline {
  margin-top: var(--ps-layout-spacing-large);
  margin-bottom: var(--ps-layout-spacing-large);
}

.box {
  border-radius: 12px;
  height: 100%;
  padding: var(--ps-layout-spacing-xlarge);
  position: relative;
  background: var(--app-colors-background-high);
  color: var(--app-colors-text-icon-high);

  &.vertical {
    height: auto;
    margin-bottom: var(--ps-layout-spacing-medium);
  }
}

.badgeWrapper {
  position: absolute;
  top: 0;
  left: 0;
}
