@import "@pluralsight/ps-design-system-core";

.root {
  flex: 0 0 auto;
  display: flex;
  width: calc(50% - (2 * var(--psLayoutSpacingLarge)));
  height: 120px;
  padding: var(--psLayoutSpacingLarge) var(--psLayoutSpacingSmall);
}
.label {
  color: var(--psColorsWhite);
  white-space: nowrap;
}
.var {
  opacity: 0.75;
}
