@import "@pluralsight/ps-design-system-core";

.root {
  background: var(--psColorsBone);
  padding: var(--psLayoutSpacingLarge);
  color: var(--psColorsGray06);
  font-size: var(--psTypeFontSizeLarge);
  line-height: var(--psTypeLineHeightExtra);
  letter-spacing: var(--psLayoutSpacingSmall);
  border-radius: 12px;
}
