@import "@pluralsight/ps-design-system-core";

.root {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--psLayoutSpacingLarge) / 2)
    calc(-1 * var(--psLayoutSpacingLarge) / 2);
}
.weight {
  flex: 1;
  height: 150px;
  min-width: 150px;
  margin: calc(var(--psLayoutSpacingLarge) / 2);
  background: var(--psColorsBone);
  color: var(--psColorsGray06);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.weightLetters {
  font-size: var(--psTypeFontSizeGigantic);
  letter-spacing: var(--psTypeLetterSpacingGigantic);
}
.weightLabel {
  color: var(--psColorsGray03);
  font-size: var(--psTypeFontSizeExtraSmall);
}
