@import "@pluralsight/ps-design-system-core";

.root {
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray04);
}
.root :global(.CodeMirror) {
  background: none;
}
.root :global(.CodeMirror),
.root :global(.CodeMirror-scroll) {
  height: auto;
}
