@import "@pluralsight/ps-design-system-core";

.root {
}
.output {
  display: flex;
  justify-content: flex-start;
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray06);
}
.outputDivider {
  display: block;
  width: 98px;
}
.src {
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray04);
}
.srcOptions {
  margin: 0;
}
.html,
.react {
  background: none;
  padding: 0;
}
