@import "@pluralsight/ps-design-system-core";

.root {
}
.output {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray06);
  overflow: hidden;
}
.outputChild {
  margin: 10px 0 0 0;
}
.src {
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray04);
}
.srcOptions {
  margin: var(--psLayoutSpacingLarge) 0 0 0;
}
.html,
.react {
  background: none;
  padding: 0;
}

@media screen and (min-width: 769px) {
  .output {
    flex-direction: row;
  }
  .outputChild {
    margin: 0 98px 0 0;
  }
}
