@import "@pluralsight/ds-core";

.root {
}
.output {
  display: flex;
  justify-content: space-between;
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray06);
}
.src {
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray04);
}
.srcOptions {
  margin: 0;
}
.html,
.react {
  background: none;
  padding: 0;
}
