.parent {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--ps-layout-spacing-large) / -2);
}

.example {
  margin: calc(var(--ps-layout-spacing-large) / 2);
}
.box {
  position: relative;
  height: 150px;
  width: 150px;
  background: #c6e0f2;
}
.border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: #8fc4e9;
  border-width: 0;
}
.label {
  margin-top: var(--ps-layout-spacing-xsmall);
  font-size: var(--ps-type-font-size-xsmall);
  font-weight: var(--ps-type-font-weight-book);
  line-height: var(--ps-type-line-height-tight);
}
.varName {
  margin-top: var(--ps-layout-spacing-small);
  font-size: var(--ps-type-font-size-xsmall);
  color: var(--ps-colors-pink-6);
}
.line {
  position: absolute;
  border-style: dashed;
  border-color: #ff00ce;
  border-width: 0;
}
.lineSingleSide {
  background: #8fc4e9;
}
.lineTop {
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-width: 1px;
}
.lineRight {
  top: 0;
  right: 0;
  height: 100%;
  border-left-width: 1px;
}
.lineBottom {
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-width: 1px;
}
.lineLeft {
  top: 0;
  left: 0;
  height: 100%;
  border-right-width: 1px;
}
