.psds-form-button-row {
  display: flex;
}
.psds-form-button-row--align-right {
  justify-content: flex-end;
}
.psds-form-button-row__button {
  margin-right: var(--ps-layout-spacing-large);
}
.psds-form-button-row__button:last-child {
  margin-right: 0;
}
.psds-form-divider {
  height: 1px;
  width: 100%;
  background-color: var(--ps-colors-border-low-on-dark);
}
.psds-form-divider.psds-theme--light {
  background-color: var(--ps-colors-border-low-on-light);
}
.psds-form-vertical-layout {
  width: 100%;
}
.psds-form-vertical-layout__child {
  margin-bottom: var(--ps-layout-spacing-large);
}
.psds-form-vertical-layout__child:last-child {
  margin-bottom: 0;
}
