.sideNav {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
.header {
  margin: var(--ps-layout-spacing-large) 0 var(--ps-layout-spacing-large)
    var(--ps-layout-spacing-large);
}
.logo {
  width: 192px;
  margin-bottom: var(--ps-layout-spacing-large);
}
.search {
  width: calc(100% - var(--ps-layout-spacing-large));
}
.scrollable {
  margin-bottom: var(--ps-layout-spacing-large);
  min-height: 0;
  min-width: 0;
}
.githubButton {
  margin: 0 0 0 var(--ps-layout-spacing-large);
}
