.logo, .githubButton {
  margin: 0 var(--psLayoutSpacingLarge);
}

.sideNav {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .logo {
    margin-bottom: var(--psLayoutSpacingLarge);
  }

  & > nav {
    flex: 1 1 auto;
    height: 0;
    margin-bottom: var(--psLayoutSpacingLarge);
    overflow: auto;
  }
}


