.sideNav {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
.header {
  margin: var(--psLayoutSpacingLarge) 0 var(--psLayoutSpacingLarge)
    var(--psLayoutSpacingLarge);
}
.logo {
  margin-bottom: var(--psLayoutSpacingLarge);
}
.search {
  width: calc(100% - var(--psLayoutSpacingLarge));
}
.scrollable {
  margin-bottom: var(--psLayoutSpacingLarge);
  min-height: 0;
  min-width: 0;
}
.githubButton {
  margin: 0 0 0 var(--psLayoutSpacingLarge);
}
