[data-psds-theme='light'] {
  --robot-img: url(/img/robot-light@2x.png);
  --background-color: var(--ps-colors-background-light-2);
}
[data-psds-theme='dark'] {
  --robot-img: url(/img/robot-dark@2x.png);
  --background-color: var(--ps-colors-background-dark-2);
}

.home {
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--ps-layout-spacing-large);

  @media (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.headerText {
  & h1 {
    margin-bottom: var(--ps-layout-spacing-large);
  }

  & p {
    line-height: var(--ps-type-line-height-standard);
  }
}
.headerImg {
  --robot-height: 656;
  --robot-width: 960;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--robot-img);
  overflow: hidden;
  height: 0;
  padding-top: calc(var(--robot-height) / var(--robot-width) * 100%);
}

.steps {
  display: grid;
  list-style: none;
  margin: 80px 0 0 0;
  grid-gap: var(--ps-layout-spacing-medium);

  & > li {
    background-color: var(--background-color);
    padding: var(--ps-layout-spacing-small) var(--ps-layout-spacing-large);
    border-radius: 8px;

    &:not(:last-child) > a {
      display: inline-block;
      margin-top: var(--ps-layout-spacing-xsmall);
    }
  }

  & a {
    font-weight: var(--ps-type-font-weight-medium);
  }

  @media (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--ps-layout-spacing-large);
  }
}

.resources {
  list-style: none;
  margin-left: 0;
}
