[data-psds-theme='light'] {
  --robotImg: url(/img/robot-light@2x.png);
  --backgroundColor: var(--psColorsBackgroundLight2);
}
[data-psds-theme='dark'] {
  --robotImg: url(/img/robot-dark@2x.png);
  --backgroundColor: var(--psColorsBackgroundDark2);
}

.home {
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--psLayoutSpacingLarge);

  @media (--breakpoint-small) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.headerText {
  & h1 {
    margin-bottom: var(--psLayoutSpacingLarge);
  }

  & p {
    line-height: var(--psTypeLineHeightStandard);
  }
}
.headerImg {
  --robotHeight: 656;
  --robotWidth: 960;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--robotImg);
  overflow: hidden;
  height: 0;
  padding-top: calc(var(--robotHeight) / var(--robotWidth) * 100%);
}

.steps {
  display: grid;
  list-style: none;
  margin: 80px 0 0 0;
  grid-gap: var(--psLayoutSpacingMedium);

  & > li {
    background-color: var(--backgroundColor);
    padding: var(--psLayoutSpacingSmall) var(--psLayoutSpacingLarge);
    border-radius: 8px;

    &:not(:last-child) > a {
      display: inline-block;
      margin-top: var(--psLayoutSpacingXSmall);
    }
  }

  & a {
    font-weight: var(--psTypeFontWeightMedium);
  }

  @media (--breakpoint-small) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--psLayoutSpacingLarge);
  }
}

.resources {
  list-style: none;
  margin-left: 0;
}
