/* the design system depends on this normalize baseline */
@import "@pluralsight/ps-design-system-normalize";

/* you are required to import the font yourself */
@import url(https://cloud.typography.com/6966154/691568/css/fonts.css);

/* core import example */
@import "@pluralsight/ps-design-system-core";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
}

h2, h3 {
  /* design system style usage */
  font-family: var(--psTypeFontFamily);
  font-weight: var(--psTypeFontWeightExtraLight);
}

.box {
  margin-top: var(--psLayoutSpacingLarge);
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsBone);
  border-radius: 4px;
}

/* styles used to override button using react-styleable */
.buttonOverride {
  background: rebeccapurple;
  color: #fff;
  border: 3px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
