@import "@pluralsight/ps-design-system-core";

.ps-tab-list-item {
  display: flex;
  align-items: center;
  height: calc(100% + 1px);
  margin-bottom: -1px;
  color: var(--psColorsGray02);
  font-weight: var(--psTypeFontWeightBook);
  background: none;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  padding: 0 0 var(--psLayoutSpacingTiny) 0;
  transition: color var(--psMotionSpeedNormal);
}
.ps-tab-list-item + .ps-tab-list-item {
  margin-left: var(--psLayoutSpacingLarge);
}
.ps-tab-list-item:focus {
  color: var(--psColorsWhite);
  outline: 0;
}
.ps-tab-list-item:hover {
  color: var(--psColorsWhite);
}
.ps-tab-list-item:focus {
  outline: none;
  color: var(--psColorsWhite);
  border-bottom: 4px solid var(--psColorsGray02);
}
.ps-tab-list-item--active, .ps-tab-list-item--active:focus {
  color: var(--psColorsWhite);
  font-weight: var(--psTypeFontWeightMedium);
  padding-bottom: 0;
  border-bottom: var(--psLayoutSpacingTiny) solid var(--psColorsOrange);
}
