.psds-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 8px;
  background: #181c20;
  border-bottom: 1px solid #1e2429;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 8px 0;
}
.psds-navbar__brand {
  margin-right: 16px;
}
.psds-navbar__items {
  flex: 1;
  margin-right: 24px;
}
.psds-navbar__mobile-menu {
  margin-right: 4px;
}
.psds-navbar__utility {
  margin-left: auto;
  margin-right: 4px;
}