:root {
  /* spacing */
  --psLayoutSpacingXXSmall: 4px;
  --psLayoutSpacingXSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXLarge: 48px;
  --psLayoutSpacingXXLarge: 64px;
}
