.psds-typeahead__caret {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.psds-typeahead__menu {
  max-height: 400px;
  max-width: 320px;
  min-width: 160px;
  overflow-y: auto;
}

.psds-typeahead__wrapper {
  display: none;
}

.psds-typeahead__wrapper--open {
  display: inline-block;
}


.psds-typeahead__wrapper--with-sub-label {
  transform: translateY(-28px);
}