.h1 {
  margin-top: 0;
}
.h2 {
  margin-top: 80px;
}
.h3 {
  margin-top: var(--psLayoutSpacingXLarge);
}
.blockquote {
  border-left: 5px solid var(--psColorsBackgroundUtility25);
  margin-bottom: var(--psLayoutSpacingMedium);
  padding: var(--psLayoutSpacingXXSmall) 0 var(--psLayoutSpacingXXSmall)
    var(--psLayoutSpacingMedium);
}
