main > .h1 {
  margin-top: 0;
  font-weight: var(--psTypeFontWeightMedium);
}
main > .h2 {
  margin-top: var(--psLayoutSpacingXLarge);
  font-weight: var(--psTypeFontWeightMedium);
}
main > .h3 {
  margin-top: var(--psLayoutSpacingXLarge);
  font-weight: var(--psTypeFontWeightMedium);
}
.blockquote {
  border-left: 5px solid var(--psColorsBackgroundUtility25);
  margin-bottom: var(--psLayoutSpacingMedium);
  padding: var(--psLayoutSpacingXXSmall) 0 var(--psLayoutSpacingXXSmall)
    var(--psLayoutSpacingMedium);
}

:not(#fakeid-to-make-more-specific-than-glamor-styles) .headingLink {
  position: relative;
  color: inherit;

  &:hover::before,
  &:focus::before {
    content: '#';
    display: block;
    position: absolute;
    left: calc(-1ch - var(--psLayoutSpacingSmall));
    height: 100%;
    color: var(--appColorsPrimaryActionText);
  }
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
