main > .h1 {
  margin-top: 0;
  font-weight: var(--psTypeFontWeightMedium);
}
main > .h2 {
  margin-top: var(--psLayoutSpacingXLarge);
  font-weight: var(--psTypeFontWeightMedium);
}
main > .h3 {
  margin-top: var(--psLayoutSpacingXLarge);
  font-weight: var(--psTypeFontWeightMedium);
}
.blockquote {
  border-left: 5px solid var(--psColorsBackgroundUtility25);
  margin-bottom: var(--psLayoutSpacingMedium);
  padding: var(--psLayoutSpacingXXSmall) 0 var(--psLayoutSpacingXXSmall)
    var(--psLayoutSpacingMedium);
}
