@import "@pluralsight/ps-design-system-core";

.root {
  margin: calc(var(--psLayoutSpacingLarge) / 2);
}
.box {
  position: relative;
  height: 150px;
  width: 150px;
  background: #C6E0F2; /* TODO: color from design system? */
}
.border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: #8FC4E9;
  border-width: 0;
}
.line {
  position: absolute;
  border-style: dashed;
  border-color: #FF00CE;
  border-width: 0;
}
.lineSingleSide {
  composes: line;
  background: #8FC4E9;
}
.lineTop {
  composes: line;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-width: 1px;
}
.lineRight {
  composes: line;
  top: 0;
  right: 0;
  height: 100%;
  border-left-width: 1px;
}
.lineBottom {
  composes: line;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-width: 1px;
}
.lineLeft {
  composes: line;
  top: 0;
  left: 0;
  height: 100%;
  border-right-width: 1px;
}
.label {
  margin-top: var(--psLayoutSpacingTiny);
  font-size: var(--psTypeFontSizeXSmall);
  font-weight: var(--psTypeFontWeightBook);
  line-height: var(--psTypeLineHeightTight);
}
