@import "@pluralsight/ps-design-system-core";

:root {
  --psIconHeight: 24px;
  --psIconWidth: 24px;
}

/* TODO: move to ../css */
/* TODO: rename ps-icon */
.root {
  display: inline-block;
  height: var(--psIconHeight);
  width: var(--psIconWidth);
}
.ps-icon__fg--fill {
  fill: var(--psColorsWhite);
}
.ps-icon__fg--stroke {
  stroke: var(--psColorsWhite);
}