@import "@pluralsight/ps-design-system-core";

:root {
  --outerHeight: 24px;
  --innerHeight: 20px;
}

.root {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 2px 3px;
  height: var(--outerHeight);
  background: var(--psColorsGray03);
  border-radius: calc(var(--outerHeight) / 2);
  white-space: nowrap;
}
.option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--innerHeight);
  line-height: calc(var(--innerHeight) - 1);
  font-size: 10px; /* TODO: size not in design system, ok? */
  color: var(--psColorsWhite);
  padding: 0 13px;
  border: none;
  background: none;
  border-radius: calc(var(--innerHeight) / 2);
  cursor: pointer;
  transition: all .4s;
  font-weight: var(--psTypeFontWeightMedium);
}
.optionActive {
  composes: option;
  color: var(--psColorsGray05);
}
.optionActiveBg {
  composes: option;
  position: absolute;
  top: 2px;
  width: calc(50% - 6px);
  background: var(--psColorsWhite);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}