.sizes {
  white-space: nowrap;
  margin-bottom: var(--ps-layout-spacing-medium);
  max-width: 900px;
}
.size {
  color: var(--app-colors-text-icon-high);
}
.size + .size {
  margin-top: var(--ps-layout-spacing-large);
}
.sizeSentence {
  color: var(--app-colors-text-icon-high);
  margin-bottom: var(--ps-layout-spacing-xsmall);
}
.sizeLabel {
  color: var(--app-colors-text-icon-low);
  font-size: var(--ps-type-font-size-base);
}
.variable {
  margin-top: var(--ps-layout-spacing-small);
  font-size: var(--ps-type-font-size-xsmall);
  color: var(--ps-colors-pink-6);
}
