.letterSpacings {
  white-space: nowrap;
  margin-bottom: var(--ps-layout-spacing-medium);
  max-width: 900px;
}
.letterSpacing {
  color: var(--app-colors-text-icon-high);
}
.letterSpacing + .letterSpacing {
  margin-top: var(--ps-layout-spacing-large);
}
.letterSpacingExample {
  font-size: var(--ps-type-font-size-base);
  color: var(--app-colors-text-icon-high);
  margin-bottom: var(--ps-layout-spacing-xsmall);
}
.letterSpacingVariableLabel {
  color: var(--app-colors-text-icon-low);
  font-size: var(--ps-type-font-size-base);
}
.letterSpacingVariable {
  margin-top: var(--ps-layout-spacing-small);
  font-size: var(--ps-type-font-size-xsmall);
  color: var(--ps-colors-pink-6);
}
