[data-psds-theme='dark'] {
  --base-line: #4d90bc;
}
[data-psds-theme='light'] {
  --base-line: #b4d9f2;
}
.lineHeights {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--ps-layout-spacing-large);
}
.lineHeight {
  width: calc(50% - var(--ps-layout-spacing-large));
  margin: calc(var(--ps-layout-spacing-large) / 2);
}
.text {
  position: relative;
  overflow: hidden;
}
.textInner {
  position: relative;
}
.textBg {
  position: absolute;
  height: 300px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--base-line),
    var(--base-line) 1px,
    var(--app-colors-background-med) 1px,
    var(--app-colors-background-med)
  );
  background-size: 1px 8px;
}
.textHuge {
  font-size: var(--ps-type-font-size-xlarge);
  line-height: var(--ps-type-line-height-huge);
}
.textExtra {
  font-size: var(--ps-type-font-size-large);
  line-height: var(--ps-type-line-height-extra);
}
.textStandard {
  font-size: var(--ps-type-font-size-medium);
  line-height: var(--ps-type-line-height-standard);
}
.textTight {
  font-size: var(--ps-type-font-size-xsmall);
  line-height: var(--ps-type-line-height-tight);
}
.textBgHuge {
  top: 31px;
}
.textBgExtra {
  top: 25px;
}
.textBgStandard {
  top: 18px;
}
.textBgTight {
  top: 14px;
  background-size: 1px 4px;
}
.label {
  margin-top: var(--ps-layout-spacing-small);
  color: var(--app-colors-text-icon-low);
  font-weight: var(--ps-type-font-weight-medium);
}
.varName {
  margin-top: var(--ps-layout-spacing-small);
  font-size: var(--ps-type-font-size-xsmall);
  color: var(--ps-colors-pink-6);
}
