.box {
  font-size: var(--psTypeFontSizeLarge);
  line-height: var(--psTypeLineHeightExtra);
  font-weight: var(--psTypeFontWeightBook);
}
.glyphs {
  font-family: var(--psTypeFontFamilyCode);
}
.fontWeight {
  text-align: center;
}
.fontLetter {
  composes: glyphs;
  padding: var(--psLayoutSpacingLarge);
  font-family: var(--psTypeFontFamilyCode);
  font-weight: var(--psTypeFontWeightRegular);
  font-size: var(--psTypeFontSizeGigantic);
  letter-spacing: var(--psTypeLetterSpacingGigantic);
}
.fontLabel {
  color: var(--appColorsTextIconLow);
  font-size: var(--psTypeFontSizeXSmall);
}
