.box {
  font-size: var(--ps-type-font-size-large);
  line-height: var(--ps-type-line-height-extra);
  font-weight: var(--ps-type-font-weight-book);
}
.glyphs {
  font-family: var(--ps-type-font-family-code);
}
.fontWeight {
  text-align: center;
}
.fontLetter {
  composes: glyphs;
  padding: var(--ps-layout-spacing-large);
  font-family: var(--ps-type-font-family-code);
  font-weight: var(--ps-type-font-weight-regular);
  font-size: var(--ps-type-font-size-gigantic);
  letter-spacing: var(--ps-type-letter-spacing-gigantic);
}
.fontLabel {
  color: var(--app-colors-text-icon-low);
  font-size: var(--ps-type-font-size-xsmall);
}
