@import "@pluralsight/ps-design-system-core";

.root {
  background: var(--psColorsBone);
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  padding: var(--psLayoutSpacingLarge);
}
.size {
  color: var(--psColorsGray06);
}
.size + .size {
  margin-top: var(--psLayoutSpacingLarge);
}
.sizeSentence {
  color: var(--psColorsGray06);
  margin-bottom: var(--psLayoutSpacingXSmall);
}
.sizeLabel {
  color: var(--psColorsGray03);
  font-size: var(--psTypeFontSizeXSmall);
}
