@import "@pluralsight/ps-design-system-core";

.ps-button {
  display: inline-flex;
  padding: var(--psLayoutSpacingSmall) var(--psLayoutSpacingMedium);
  border: 0;
  border-radius: 2px;

  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
  font-weight: var(--psTypeFontWeightMedium);
  text-align: center;

  /* TODO: font family */
  color: var(--psColorsWhite);
  background: var(--psColorsOrange);
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all var(--psMotionSpeedNormal);
}

.ps-button:hover {
  background: var(--psColorsOrangeLight);
}

/* size */
.ps-button--tiny {
  font-size: var(--psTypeFontSizeExtraSmall);
  line-height: var(--psTypeLineHeightStandard);
  padding: 0 var(--psLayoutSpacingMedium);
  height: 24px;
}
.ps-button--small {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
  padding: var(--psLayoutSpacingTiny) var(--psLayoutSpacingMedium);
  height: 32px;
}
.ps-button--medium {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
  padding: var(--psLayoutSpacingExtraSmall) var(--psLayoutSpacingMedium);
  height: 40px;
}
.ps-button--large {
  font-size: var(--psTypeFontSizeMedium);
  line-height: var(--psTypeLineHeightExtra);
  padding: var(--psLayoutSpacingTiny) var(--psLayoutSpacingMedium);
  height: 48px;
}

/* appearance */
.ps-button--stroke {
  border: 1px solid var(--psColorsOrange);
  color: var(--psColorsOrange);
  background: none;
  transition: all var(--psMotionSpeedNormal);
}
.ps-button--stroke:hover {
  color: var(--psColorsOrangeLight);
  border: 1px solid var(--psColorsOrangeLight);
  background: none;
}
.ps-button--flat {
  border: none;
  color: var(--psColorsGray02);
  background: none;
  transition: all var(--psMotionSpeedNormal);
}
.ps-button--flat:hover {
  color: var(--psColorsWhite);
  background: var(--psColorsGray04);
}

/* disabled */
.ps-button--disabled {
  color: var(--psColorsGray02);
}
.ps-button--disabled:hover {
  color: var(--psColorsGray02);
}
.ps-button--disabled.ps-button--stroke {
  border: none;
}
.ps-button--disabled:not(.ps-button--flat) {
  background: var(--psColorsGray03);
}
.ps-button--disabled.ps-button--flat {
  opacity: 0.4;
}
.ps-button--disabled.ps-button--flat:hover {
  color: var(--psColorsGray02);
  background: none;
}

/* icon and iconAlign */
.ps-button--icon-align-right {
  flex-direction: row-reverse;
}
.ps-button__icon {
  height: 24px;
  width: 24px;
  margin-right: var(--psLayoutSpacingExtraSmall);
}
.ps-button .ps-icon__fg--fill {
  fill: var(--psColorsWhite);
}
.ps-button .ps-icon__fg--stroke {
  stroke: var(--psColorsWhite);
}
.ps-button--stroke .ps-icon__fg--fill {
  fill: var(--psColorsOrange);
}
.ps-button--stroke .ps-icon__fg--stroke {
  stroke: var(--psColorsOrange);
}
.ps-button--stroke:hover .ps-icon__fg--fill {
  fill: var(--psColorsOrangeLight);
}
.ps-button--stroke:hover .ps-icon__fg--stroke {
  stroke: var(--psColorsOrangeLight);
}
.ps-button--flat .ps-icon__fg--fill {
  fill: var(--psColorsGray02);
}
.ps-button--flat .ps-icon__fg--stroke {
  stroke: var(--psColorsGray02);
}
.ps-button--flat:hover .ps-icon__fg--fill {
  fill: var(--psColorsWhite);
}
.ps-button--flat:hover .ps-icon__fg--stroke {
  stroke: var(--psColorsWhite);
}
.ps-button--disabled .ps-icon__fg--fill {
  fill: var(--psColorsGray02);
}
.ps-button--disabled .ps-icon__fg--stroke {
  stroke: var(--psColorsGray02);
}
.ps-button--icon-align-right .ps-button__icon {
  margin-right: 0;
  margin-left: var(--psLayoutSpacingExtraSmall);
}
.ps-button--icon-only .ps-button__icon {
  margin: 0;
}
