[data-psds-theme='dark'] {
  --name-color: var(--ps-colors-pink-4);
  --name-type: var(--ps-colors-blue-4);
}
[data-psds-theme='light'] {
  --name-color: var(--ps-colors-pink-8);
  --name-type: var(--ps-colors-blue-8);
}
.required {
  margin-left: var(--ps-layout-spacing-xsmall);
}
.nameCode {
  color: var(--name-color);
  font-weight: var(--ps-type-font-weight-bold);
}
.typeCode {
  color: var(--type-color);
  overflow-wrap: break-word;
}
.desc {
  font-size: var(--ps-type-font-size-xsmall);
}
.defaultCode {
  color: var(--type-color);
}
