.guidelines {
  margin-top: var(--psLayoutSpacingLarge);
  margin-bottom: var(--psLayoutSpacingLarge);
}
.box {
  background: var(--psColorsBackgroundLight2);
  border-radius: 12px;
  height: 100%;
  padding: var(--psLayoutSpacingXLarge);
  position: relative;
}
.box--vertical {
  margin-bottom: var(--psLayoutSpacingMedium);
}
.guideline {
  padding: var(--psLayoutSpacingXSmall) 0 var(--psLayoutSpacingLarge) 0;
}
.badgeWrapper {
  position: absolute;
  top: 0;
  left: 0;
}
