.intro {
  margin-bottom: var(--psLayoutSpacingLarge);
  font-size: var(--psTypeFontSizeMedium);
  line-height: var(--psTypeLineHeightExtra);

  &.light {
    color: var(--psColorsTextIconHighOnLight);
  }
  &.dark {
    color: var(--psColorsTextIconHighOnDark);
  }
}
