[data-psds-theme='dark'] {
  --bg: var(--psColorsBackgroundDark2);
}
[data-psds-theme='light'] {
  --bg: var(--psColorsBackgroundLight2);
}
.toc {
  width: 100%;
  max-width: 360px;
  overflow: hidden;
  background: var(--bg);

  @media (--breakpoint-large) {
    position: fixed;
    width: 240px;
    top: calc(var(--topNavHeight) + var(--psLayoutSpacingLarge));
    right: var(--psLayoutSpacingMedium);
  }
}

h4.title {
  color: red;
  margin: var(--psLayoutSpacingLarge) 0 0 var(--psLayoutSpacingLarge);
}
