.usage {
  margin: var(--psLayoutSpacingXLarge) 0;
  list-style: none;
  font-size: var(--psTypeFontSizeSmall);
  line-height: 16px;
}
.item {
  display: flex;
  margin-bottom: var(--psLayoutSpacingMedium);
}
.label {
  font-size: var(--psTypeFontSizeXSmall);
  width: 80px;

  &.light {
    color: var(--psColorsTextIconLowOnLight);
  }
  &.dark {
    color: var(--psColorsTextIconLowOnDark);
  }
}
.value {
  font-family: var(--psTypeFontFamilyCode);

  &.light {
    color: var(--psColorsTextIconHighOnLight);
  }
  &.dark {
    color: var(--psColorsTextIconHighOnDark);
  }
}

