.usage {
  margin: 0 0 var(--ps-layout-spacing-xlarge) 0;
  list-style: none;
  font-size: var(--ps-type-font-size-small);
  line-height: 16px;
}
.item {
  display: flex;
  margin-bottom: var(--ps-layout-spacing-medium);
  white-space: pre-wrap;
}
.label {
  font-size: var(--ps-type-font-size-xsmall);
  width: 80px;
  color: var(--app-colors-text-icon-low);
}
.value {
  font-family: var(--ps-type-font-family-code);
  color: var(--app-colors-text-icon-high);
}
