.root {
  composes: root from "./gradient.module.css";
}
.start, .stop, .var {
  composes: label from "./gradient.module.css";
}
.start {
}
.root .stop {
  margin-left: auto;
}
.var {
  composes: var from "./gradient.module.css";
}
