@import "@pluralsight/ps-design-system-core";

.root {
  margin: 0;
  color: var(--psColorsBlack);
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightExtra);
  font-weight: var(--psTypeFontWeightMedium);
}