@import "@pluralsight/ps-design-system-core";
@import "../top-bar/top-bar.css";

.root {
  /*min-width: 200px;*/
  min-height: calc(100% - var(--topBarHeight));
  height: inherit;
  flex: 0 0 200px;
  border-right: 1px solid var(--psColorsGray01);
  background: var(--psColorsBone);
  overflow: auto;
}
