@import "@pluralsight/ps-design-system-core";
@import "../top-bar/top-bar.css";

.root {
  min-width: 200px;
  min-height: calc(100vh - var(--topBarHeight));
  border-right: 1px solid var(--psColorsGray01);
  border-bottom: 1px solid var(--psColorsGray01);
  background: var(--psColorsBone);
}