@import "@pluralsight/ps-design-system-core";

.root {
  background: var(--psColorsBone);
}

@media screen and (min-width: 769px) {
  .root {
    min-height: 100%;
    border-right: 1px solid var(--psColorsGray01);
  }
}
