@import "@pluralsight/ps-design-system-core";

.root {
  border-top: 1px solid var(--psColorsGray01);
}

@media screen and (min-width: 769px) {
  .root {
    min-height: 100%;
    border-top: none;
  }
}
