@import "@pluralsight/ps-design-system-core";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-bottom: 1px solid var(--psColorsGray01);
  text-decoration: none;
}
.img {
  height: 31px;
  width: 31px;
  margin-right: 8px;
  background: var(--psColorsGradientVert);
  border-radius: 50%;
}
.text {
  margin: 0;
}
.textCompany {
  display: block;
  letter-spacing: .15em;
  font-size: var(--psTypeFontSizeSmall);
  font-weight: var(--psTypeFontWeightLight);
  color: #000; /* TODO: real colorz */
  font-family: var(--psTypeFontFamily);
}
.textTitle {
  font-size: 8px; /* TODO: not in ds */
  color: var(--psColorsGray03);
  font-weight: var(--psTypeFontWeightMedium);
}