@import "@pluralsight/ps-design-system-core";

.ps-card {
  width: 100%;
}

/* size */
.ps-card--small {
  max-width: 140px;
}
.ps-card--medium {
  max-width: 320px;
}
.ps-card--large {
  max-width: 640px;
}

.ps-card__image-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--psColorsBlack);
}
.ps-card--small .ps-card__image-frame {
  height: 96px;
}
.ps-card--medium .ps-card__image-frame {
  height: 108px;
}
.ps-card--large .ps-card__image-frame {
  height: 208px;
}

.ps-card__image {
  position: relative;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.ps-card__action-bar {
  position: absolute;
  top: var(--psLayoutSpacingSmall);
  right: var(--psLayoutSpacingSmall);
}
.ps-card__action-bar .ps-icon__fg--fill {
  fill: var(--psColorsWhite);
  transition: all var(--psMotionSpeedNormal);
}
.ps-card__action-bar .ps-icon__fg--stroke {
  stroke: var(--psColorsWhite);
  transition: all var(--psMotionSpeedNormal);
}

.ps-card__progress {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: var(--psColorsGray03);
  overflow: hidden;
}
.ps-card__progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--psColorsWhite);
}
.ps-card__title {
  margin-top: var(--psLayoutSpacingExtraSmall);
  font-weight: var(--psTypeFontWeightMedium);
  overflow: hidden;
}
.ps-card--small .ps-card__title {
  font-size: var(--psTypeFontSizeExtraSmall);
  line-height: var(--psTypeLineHeightTight);
  max-height: calc(2 * var(--psTypeLineHeightTight));
}
.ps-card--medium .ps-card__title {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightTight);
  max-height: calc(2 * var(--psTypeLineHeightTight));
}
.ps-card--large .ps-card__title {
  font-size: var(--psTypeFontSizeMedium);
  line-height: var(--psTypeLineHeightStandard);
  max-height: calc(2 * var(--psTypeLineHeightStandard));
}

.ps-card__metadata {
  display: flex;
  align-items: center;
  font-weight: var(--psTypeFontWeightBook);
  color: var(--psColorsGray02);
  max-width: 100%;
}
.ps-card--small .ps-card__metadata {
  font-size: var(--psTypeFontSizeExtraSmall);
  line-height: var(--psTypeLineHeightSmall);
}
.ps-card--medium .ps-card__metadata {
  font-size: var(--psTypeFontSizeExtraSmall);
  line-height: var(--psTypeLineHeightSmall);
}
.ps-card--large .ps-card__metadata {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightTight);
}
.ps-card__metadata__datum {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 2;
}
.ps-card__metadata__datum:nth-of-type(1) {
  flex-shrink: 1;
}
.ps-card__title a, .ps-card__metadata__datum a {
  color: inherit;
}
.ps-card__title a:hover,
.ps-card__title a:active,
.ps-card__metadata__datum a:hover,
.ps-card__metadata__datum a:active {
  color: var(--psColorsWhite);
  text-decoration: underline;
  transition: all var(--psMotionSpeedNormal);
  cursor: pointer;
}
.ps-card__metadata__dot {
  display: inline-block;
  margin: 0 var(--psLayoutSpacingExtraSmall);
  min-height: 4px;
  min-width: 4px;
  border-radius: 50%;
  background-color: var(--psColorsGray02);
}
