@import "@pluralsight/ps-design-system-core";

.ps-card {
  width: 100%;
}

/* size */
.ps-card--small {
  min-width: 120px;
  max-width: 240px;
}
.ps-card--medium {
  min-width: 240px;
  max-width: 440px;
}
.ps-card--large {
  min-width: 440px;
  max-width: 680px;
}

/* generic links w/in component */
.ps-card__link {
  color: inherit;
  cursor: pointer;
}
.ps-card__link:hover, .ps-card__link:active {
  color: var(--psColorsWhite);
  text-decoration: underline;
  transition: all var(--psMotionSpeedNormal);
}

.ps-card__image-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--psColorsBlack);
}
.ps-card--small .ps-card__image-frame {
  height: 96px;
}
.ps-card--medium .ps-card__image-frame {
  height: 144px;
}
.ps-card--large .ps-card__image-frame {
  height: 240px;
}

.ps-card__image {
  position: relative;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.ps-card__action-bar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 64px;
  padding: var(--psLayoutSpacingXSmall)
    var(--psLayoutSpacingXSmall)
    0
    var(--psLayoutSpacingXSmall);
  background: linear-gradient(
    to bottom,
    color(var(--psColorsBlack) alpha(75%)),
    transparent
  );
  transition: opacity var(--psMotionSpeedNormal);
  pointer-events: none;
  opacity: 0;
}
.ps-card--full-overlay .ps-card__action-bar {
  background: none;
}
.ps-card--action-bar-visible .ps-card__action-bar,
.ps-card__image-frame:hover .ps-card__action-bar,
.ps-card__image-frame:active .ps-card__action-bar {
  opacity: 1;
}
.ps-card__action-bar__action {
  pointer-events: all;
}
.ps-card__action-bar__action + .ps-card__action-bar__action {
  margin-left: var(--psLayoutSpacingTiny);
}
.ps-button--flat--action-bar:hover, .ps-button--flat--action-bar:active {
  background: none;
}
.ps-icon__fg--fill--action-bar {
  fill: color(var(--psColorsWhite) alpha(80%));
  transition: all var(--psMotionSpeedNormal);
}
.ps-button--flat--action-bar:hover .ps-icon__fg--fill--action-bar,
.ps-button--flat--action-bar:active .ps-icon__fg--fill--action-bar {
  fill: var(--psColorsWhite);
}
.ps-icon__fg--stroke--action-bar {
  stroke: color(var(--psColorsWhite) alpha(80%));
  transition: all var(--psMotionSpeedNormal);
}
.ps-button--flat--action-bar:hover .ps-icon__fg--stroke--action-bar,
.ps-button--flat--action-bar:active .ps-icon__fg--stroke--action-bar {
  stroke: var(--psColorsWhite);
}

.ps-card__full-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: color(var(--psColorsBlack) alpha(50%));
  transition: opacity var(--psMotionSpeedNormal);
  pointer-events: none;
  opacity: 0;
}
.ps-card--full-overlay-visible .ps-card__full-overlay,
.ps-card__image-frame:hover .ps-card__full-overlay,
.ps-card__image-frame:active .ps-card__full-overlay {
  opacity: 1;
}
.ps-card__full-overlay__child {
  pointer-events: all;
}

.ps-card__tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: var(--psLayoutSpacingSmall);
  left: 0;
  padding: var(--psLayoutSpacingTiny) var(--psLayoutSpacingXSmall);
  background: var(--psColorsGray04);
  border-radius: 0 2px 2px 0;
}
.ps-card__tag__part {
  color: var(--psColorsWhite);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
}
.ps-card__tag__part + .ps-card__tag__part {
  margin-left: var(--psLayoutSpacingXSmall);
}
.ps-card__tag__part--icon {
  height: 16px;
  width: 16px;
}
.ps-icon__fg--fill--tag {
  fill: var(--psColorsWhite);
}
.ps-icon__fg--stroke--tag {
  stroke: var(--psColorsWhite);
}

.ps-card__bonus-bar {
  position: absolute;
  bottom: var(--psLayoutSpacingSmall);
  left: var(--psLayoutSpacingSmall);
}

.ps-card__progress {
  position: relative;
  width: 100%;
  height: 4px;
  border-top: 1px solid color(var(--psColorsBlack) alpha(20%));
  background-color: color(var(--psColorsGray01) alpha(40%));
  overflow: hidden;
}
.ps-card__progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--psColorsWhite);
}
.ps-card__progress__bar--completed {
  background-color: var(--psColorsGreen);
}

.ps-card__title {
  display: block;
  margin-top: var(--psLayoutSpacingXSmall);
  font-weight: var(--psTypeFontWeightMedium);
  overflow: hidden;
  color: var(--psColorsWhite);
}
.ps-card__title--link {
  composes: ps-card__title ps-card__link;
}
.ps-card--small .ps-card__title {
  font-size: var(--psTypeFontSizeXSmall);
  line-height: var(--psTypeLineHeightTight);
  max-height: calc(2 * var(--psTypeLineHeightTight));
}
.ps-card--medium .ps-card__title {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightTight);
  max-height: calc(2 * var(--psTypeLineHeightTight));
}
.ps-card--large .ps-card__title {
  font-size: var(--psTypeFontSizeMedium);
  line-height: var(--psTypeLineHeightStandard);
  max-height: calc(2 * var(--psTypeLineHeightStandard));
}

.ps-card__metadata {
  display: flex;
  align-items: center;
  font-weight: var(--psTypeFontWeightBook);
  line-height: var(--psTypeLineHeightTight);
  color: var(--psColorsGray02);
  max-width: 100%;
}
.ps-card--small .ps-card__metadata, .ps-card--medium .ps-card__metadata {
  font-size: var(--psTypeFontSizeXSmall);
}
.ps-card--large .ps-card__metadata {
  font-size: var(--psTypeFontSizeSmall);
}
.ps-card__metadata__datum {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 2;
}
.ps-card__metadata__datum:nth-of-type(1) {
  flex-shrink: 1;
}
.ps-card__metadata__datum--link {
  composes: ps-card__link;
}
.ps-card__metadata__dot {
  display: inline-block;
  margin: 0 var(--psLayoutSpacingXSmall);
}
