@import "@pluralsight/ps-design-system-core";

.root {
}
.page {
  display: flex;
  flex-direction: column-reverse;
}
.side {
}
.main {
  padding: var(--psLayoutSpacingSmall)
    var(--psLayoutSpacingLarge)
    var(--psLayoutSpacingLarge)
    var(--psLayoutSpacingLarge);
  background: var(--psColorsWhite);
}
.content {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .page {
    flex-direction: row;
  }
  .side {
    min-width: 200px;
  }
  .main {
    flex: 1;
    border-left: 1px solid var(--psColorsGray01);
  }
  .content {
    max-width: 900px;
    min-width: 300px;
  }
}
