@import "@pluralsight/ps-design-system-core";

.root {
}
.topGrad {
  height: 8px;
  background: var(--psColorsGradientHorz);
}
.content {
  display: flex;
}
.main {
  flex: 1;
  padding: 64px 110px; /* TODO: spacing not in ds? */
}