@import "../common/styles/responsive.css";

.root {
}
.content {
  display: flex;
  height: calc(100% - var(--topBarHeight))
}
.main {
  flex: 1;
  padding: var(--psLayoutSpacingSmall) var(--psLayoutSpacingLarge);
  overflow-x: auto;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  min-width: 300px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    height: auto;
  }

  .main {
    overflow: visible;
  }
}
