.root {
}
.content {
  display: flex;
  height: calc(100% - var(--topBarHeight))
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  min-width: 300px;
}

.main {
  flex: 1;
  padding: var(--psLayoutSpacingSmall) var(--psLayoutSpacingLarge);
  overflow-x: auto;
}


/*
========================
Media Queries
========================
*/

/* --- > 768 - Reposition nav below content --- */

@media (max-width: 768px) {
    .content {
        flex-direction: column-reverse;
        height: auto;
      }

    .main {
        overflow: visible;
    }
}
