@import "@pluralsight/ps-design-system-core";

.ps-heading {
  color: var(--psColorsWhite);
  margin: var(--psLayoutSpacingMedium) 0;
}

.ps-heading--xx-large {
  font-size: var(--psTypeFontSizeXXLarge);
  letter-spacing: var(--psTypeLetterSpacingXXLarge);
  line-height: var(--psTypeLineHeightHuge);
  font-weight: var(--psTypeFontWeightLight);
}
.ps-heading--large {
  font-size: var(--psTypeFontSizeLarge);
  letter-spacing: var(--psTypeLetterSpacingLarge);
  line-height: var(--psTypeLineHeightExtra);
  font-weight: var(--psTypeFontWeightBook);
}
.ps-heading--medium {
  font-size: var(--psTypeFontSizeMedium);
  letter-spacing: var(--psTypeLetterSpacingMedium);
  line-height: var(--psTypeLineHeightStandard);
  font-weight: var(--psTypeFontWeightMedium);
}
.ps-heading--small-caps {
  color: var(--psColorsGray02);
  font-size: var(--psTypeFontSizeXSmall);
  letter-spacing: var(--psTypeLetterSpacingXSmall);
  line-height: var(--psTypeLineHeightTight);
  font-weight: var(--psTypeFontWeightMedium);
  text-transform: uppercase;
}
