@import "@pluralsight/ps-design-system-core";

.ps-heading {
  color: var(--psColorsWhite);
}

.ps-heading--xx-large {
  font-size: var(--psTypeFontSizeXXLarge);
  letter-spacing: var(--psTypeLetterSpacingXXLarge);
  font-weight: var(--psTypeFontWeightLight);
  margin: var(--psLayoutSpacingXXLarge) 0;
}
.ps-heading--large {
  font-size: var(--psTypeFontSizeLarge);
  letter-spacing: var(--psTypeLetterSpacingLarge);
  font-weight: var(--psTypeFontWeightBook);
  margin: var(--psLayoutSpacingXLarge) 0 var(--psLayoutSpacingSmall) 0;
}
.ps-heading--medium {
  font-size: var(--psTypeFontSizeMedium);
  letter-spacing: var(--psTypeLetterSpacingMedium);
  font-weight: var(--psTypeFontWeightMedium);
  margin: var(--psLayoutSpacingMedium) 0 var(--psLayoutSpacingSmall) 0;
}
.ps-heading--small-caps {
  color: var(--psColorsGray02);
  font-size: var(--psTypeFontSizeXSmall);
  letter-spacing: var(--psTypeLetterSpacingXSmall);
  font-weight: var(--psTypeFontWeightMedium);
  margin: var(--psLayoutSpacingMedium) 0 var(--psLayoutSpacingSmall) 0;
  text-transform: uppercase;
}
