.root__3shuw {
}.root__PQ8v_ {
  outline: 1px solid red;
}.ps-button__2hSPm {
  display: inline-block;
  padding: 8px 16px;
  border: 0;
  border-radius: 2px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;

  /* TODO: font family */
  color: #fff;
  background: #F96816;
}

/* size */

.ps-button--tiny__2OADV {
  font-size: 12px;
  line-height: 24px;
}

.ps-button--small__dz_BG {
  font-size: 14px;
  line-height: 24px;
}

.ps-button--medium__33x7N {
  font-size: 14px;
  line-height: 24px;
}

.ps-button--large__2aoJi {
  font-size: 18px;
  line-height: 32px;
}

/* appearance */

.ps-button--stroke__1c8f6 {
  border: 1px solid #F96816;
  color: #F96816;
  background: none;
}

.ps-button--flat__1S8n0 {
  border: none;
  color: #F96816;
  background: none;
}

/* icon and iconAlign */

/* disabled */