@import url(https://cloud.typography.com/6966154/691568/css/fonts.css);.root__3shuw {
}:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsBlue: #137bc2;

  /* role colors */
  --psColorsRoleYellowLighter: #fd39bc;
  --psColorsRoleYellowLight: #fbcd64;
  --psColorsRoleYellow: #f8b721;
  --psColorsRoleYellowDark: #ae8017;
  --psColorsRoleYellowDarker: #7c5b12;
}
:root {
  /* spacing */
  --psLayoutSpacingTiny: 4px;
  --psLayoutSpacingExtraSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXl: 40px;
  --psLayoutSpacingXxl: 56px;
}
:root {
  --psTypeFontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

  /* font size */
  --psTypeFontSizeGigantic: 60px;
  --psTypeFontSizeXxxl: 48px;
  --psTypeFontSizeXxl: 36px;
  --psTypeFontSizeXl: 30px;
  --psTypeFontSizeLarge: 24px;
  --psTypeFontSizeMedium: 18px;
  --psTypeFontSizeSmall: 14px;
  --psTypeFontSizeExtraSmall: 12px;

  /* letter spacing */
  --psTypeLetterSpacingGigantic: -1px;
  --psTypeLetterSpacingXxxl: -0.72px;
  --psTypeLetterSpacingXxl: -0.54px;
  --psTypeLetterSpacingXl: -0.45px;
  --psTypeLetterSpacingLarge: 0.36px;
  --psTypeLetterSpacingMedium: 0;
  --psTypeLetterSpacingSmall: 0;
  --psTypeLetterSpacingExtraSmall: 0;

  /* font weight */
  --psTypeFontWeightBold: 700;
  --psTypeFontWeightMedium: 500;
  --psTypeFontWeightBook: 400;
  --psTypeFontWeightLight: 300;
  --psTypeFontWeightExtraLight: 200;

  /* line height */
  --psTypeLineHeightTight: 20px;
  --psTypeLineHeightStandard: 24px;
  --psTypeLineHeightExtra: 32px;
  --psTypeLineHeightHuge: 40px;
}
.root__1l14T {
  outline: 1px solid blue;
}
.output__2Kojm {
  display: flex;
  justify-content: space-between;
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray06);
}
.src__3iREM {
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray03);
}:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsBlue: #137bc2;

  /* role colors */
  --psColorsRoleYellowLighter: #fd39bc;
  --psColorsRoleYellowLight: #fbcd64;
  --psColorsRoleYellow: #f8b721;
  --psColorsRoleYellowDark: #ae8017;
  --psColorsRoleYellowDarker: #7c5b12;
}
:root {
  /* spacing */
  --psLayoutSpacingTiny: 4px;
  --psLayoutSpacingExtraSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXl: 40px;
  --psLayoutSpacingXxl: 56px;
}
:root {
  --psTypeFontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

  /* font size */
  --psTypeFontSizeGigantic: 60px;
  --psTypeFontSizeXxxl: 48px;
  --psTypeFontSizeXxl: 36px;
  --psTypeFontSizeXl: 30px;
  --psTypeFontSizeLarge: 24px;
  --psTypeFontSizeMedium: 18px;
  --psTypeFontSizeSmall: 14px;
  --psTypeFontSizeExtraSmall: 12px;

  /* letter spacing */
  --psTypeLetterSpacingGigantic: -1px;
  --psTypeLetterSpacingXxxl: -0.72px;
  --psTypeLetterSpacingXxl: -0.54px;
  --psTypeLetterSpacingXl: -0.45px;
  --psTypeLetterSpacingLarge: 0.36px;
  --psTypeLetterSpacingMedium: 0;
  --psTypeLetterSpacingSmall: 0;
  --psTypeLetterSpacingExtraSmall: 0;

  /* font weight */
  --psTypeFontWeightBold: 700;
  --psTypeFontWeightMedium: 500;
  --psTypeFontWeightBook: 400;
  --psTypeFontWeightLight: 300;
  --psTypeFontWeightExtraLight: 200;

  /* line height */
  --psTypeLineHeightTight: 20px;
  --psTypeLineHeightStandard: 24px;
  --psTypeLineHeightExtra: 32px;
  --psTypeLineHeightHuge: 40px;
}
.root__1V9Uk {
  color: var(--psColorsWhite);
}:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsBlue: #137bc2;

  /* role colors */
  --psColorsRoleYellowLighter: #fd39bc;
  --psColorsRoleYellowLight: #fbcd64;
  --psColorsRoleYellow: #f8b721;
  --psColorsRoleYellowDark: #ae8017;
  --psColorsRoleYellowDarker: #7c5b12;
}
:root {
  /* spacing */
  --psLayoutSpacingTiny: 4px;
  --psLayoutSpacingExtraSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXl: 40px;
  --psLayoutSpacingXxl: 56px;
}
:root {
  --psTypeFontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

  /* font size */
  --psTypeFontSizeGigantic: 60px;
  --psTypeFontSizeXxxl: 48px;
  --psTypeFontSizeXxl: 36px;
  --psTypeFontSizeXl: 30px;
  --psTypeFontSizeLarge: 24px;
  --psTypeFontSizeMedium: 18px;
  --psTypeFontSizeSmall: 14px;
  --psTypeFontSizeExtraSmall: 12px;

  /* letter spacing */
  --psTypeLetterSpacingGigantic: -1px;
  --psTypeLetterSpacingXxxl: -0.72px;
  --psTypeLetterSpacingXxl: -0.54px;
  --psTypeLetterSpacingXl: -0.45px;
  --psTypeLetterSpacingLarge: 0.36px;
  --psTypeLetterSpacingMedium: 0;
  --psTypeLetterSpacingSmall: 0;
  --psTypeLetterSpacingExtraSmall: 0;

  /* font weight */
  --psTypeFontWeightBold: 700;
  --psTypeFontWeightMedium: 500;
  --psTypeFontWeightBook: 400;
  --psTypeFontWeightLight: 300;
  --psTypeFontWeightExtraLight: 200;

  /* line height */
  --psTypeLineHeightTight: 20px;
  --psTypeLineHeightStandard: 24px;
  --psTypeLineHeightExtra: 32px;
  --psTypeLineHeightHuge: 40px;
}
.root__EyfF9 {
  font-size: var(--psTypeFontSizeXxl);
  letter-spacing: var(--psTypeLetterSpacingXxl);
  font-weight: var(--psTypeFontWeightLight);
  color: var(--psColorsGray06);
}:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsBlue: #137bc2;

  /* role colors */
  --psColorsRoleYellowLighter: #fd39bc;
  --psColorsRoleYellowLight: #fbcd64;
  --psColorsRoleYellow: #f8b721;
  --psColorsRoleYellowDark: #ae8017;
  --psColorsRoleYellowDarker: #7c5b12;
}
:root {
  /* spacing */
  --psLayoutSpacingTiny: 4px;
  --psLayoutSpacingExtraSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXl: 40px;
  --psLayoutSpacingXxl: 56px;
}
:root {
  --psTypeFontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

  /* font size */
  --psTypeFontSizeGigantic: 60px;
  --psTypeFontSizeXxxl: 48px;
  --psTypeFontSizeXxl: 36px;
  --psTypeFontSizeXl: 30px;
  --psTypeFontSizeLarge: 24px;
  --psTypeFontSizeMedium: 18px;
  --psTypeFontSizeSmall: 14px;
  --psTypeFontSizeExtraSmall: 12px;

  /* letter spacing */
  --psTypeLetterSpacingGigantic: -1px;
  --psTypeLetterSpacingXxxl: -0.72px;
  --psTypeLetterSpacingXxl: -0.54px;
  --psTypeLetterSpacingXl: -0.45px;
  --psTypeLetterSpacingLarge: 0.36px;
  --psTypeLetterSpacingMedium: 0;
  --psTypeLetterSpacingSmall: 0;
  --psTypeLetterSpacingExtraSmall: 0;

  /* font weight */
  --psTypeFontWeightBold: 700;
  --psTypeFontWeightMedium: 500;
  --psTypeFontWeightBook: 400;
  --psTypeFontWeightLight: 300;
  --psTypeFontWeightExtraLight: 200;

  /* line height */
  --psTypeLineHeightTight: 20px;
  --psTypeLineHeightStandard: 24px;
  --psTypeLineHeightExtra: 32px;
  --psTypeLineHeightHuge: 40px;
}
.root__2M4v3 {
  font-size: var(--psTypeFontSizeLarge);
  letter-spacing: var(--psTypeLetterSpacingLarge);
  font-weight: var(--psTypeFontWeightBook);
  color: var(--psColorsGray06);
}:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsBlue: #137bc2;

  /* role colors */
  --psColorsRoleYellowLighter: #fd39bc;
  --psColorsRoleYellowLight: #fbcd64;
  --psColorsRoleYellow: #f8b721;
  --psColorsRoleYellowDark: #ae8017;
  --psColorsRoleYellowDarker: #7c5b12;
}
:root {
  /* spacing */
  --psLayoutSpacingTiny: 4px;
  --psLayoutSpacingExtraSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXl: 40px;
  --psLayoutSpacingXxl: 56px;
}
:root {
  --psTypeFontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

  /* font size */
  --psTypeFontSizeGigantic: 60px;
  --psTypeFontSizeXxxl: 48px;
  --psTypeFontSizeXxl: 36px;
  --psTypeFontSizeXl: 30px;
  --psTypeFontSizeLarge: 24px;
  --psTypeFontSizeMedium: 18px;
  --psTypeFontSizeSmall: 14px;
  --psTypeFontSizeExtraSmall: 12px;

  /* letter spacing */
  --psTypeLetterSpacingGigantic: -1px;
  --psTypeLetterSpacingXxxl: -0.72px;
  --psTypeLetterSpacingXxl: -0.54px;
  --psTypeLetterSpacingXl: -0.45px;
  --psTypeLetterSpacingLarge: 0.36px;
  --psTypeLetterSpacingMedium: 0;
  --psTypeLetterSpacingSmall: 0;
  --psTypeLetterSpacingExtraSmall: 0;

  /* font weight */
  --psTypeFontWeightBold: 700;
  --psTypeFontWeightMedium: 500;
  --psTypeFontWeightBook: 400;
  --psTypeFontWeightLight: 300;
  --psTypeFontWeightExtraLight: 200;

  /* line height */
  --psTypeLineHeightTight: 20px;
  --psTypeLineHeightStandard: 24px;
  --psTypeLineHeightExtra: 32px;
  --psTypeLineHeightHuge: 40px;
}
.root__1CHxl {
  color: var(--psColorsGray04);
}.root__PQ8v_ {
  outline: 1px solid red;
}:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsBlue: #137bc2;

  /* role colors */
  --psColorsRoleYellowLighter: #fd39bc;
  --psColorsRoleYellowLight: #fbcd64;
  --psColorsRoleYellow: #f8b721;
  --psColorsRoleYellowDark: #ae8017;
  --psColorsRoleYellowDarker: #7c5b12;
}
:root {
  /* spacing */
  --psLayoutSpacingTiny: 4px;
  --psLayoutSpacingExtraSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXl: 40px;
  --psLayoutSpacingXxl: 56px;
}
:root {
  --psTypeFontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

  /* font size */
  --psTypeFontSizeGigantic: 60px;
  --psTypeFontSizeXxxl: 48px;
  --psTypeFontSizeXxl: 36px;
  --psTypeFontSizeXl: 30px;
  --psTypeFontSizeLarge: 24px;
  --psTypeFontSizeMedium: 18px;
  --psTypeFontSizeSmall: 14px;
  --psTypeFontSizeExtraSmall: 12px;

  /* letter spacing */
  --psTypeLetterSpacingGigantic: -1px;
  --psTypeLetterSpacingXxxl: -0.72px;
  --psTypeLetterSpacingXxl: -0.54px;
  --psTypeLetterSpacingXl: -0.45px;
  --psTypeLetterSpacingLarge: 0.36px;
  --psTypeLetterSpacingMedium: 0;
  --psTypeLetterSpacingSmall: 0;
  --psTypeLetterSpacingExtraSmall: 0;

  /* font weight */
  --psTypeFontWeightBold: 700;
  --psTypeFontWeightMedium: 500;
  --psTypeFontWeightBook: 400;
  --psTypeFontWeightLight: 300;
  --psTypeFontWeightExtraLight: 200;

  /* line height */
  --psTypeLineHeightTight: 20px;
  --psTypeLineHeightStandard: 24px;
  --psTypeLineHeightExtra: 32px;
  --psTypeLineHeightHuge: 40px;
}
.ps-button__2hSPm {
  display: inline-block;
  padding: 8px 16px;
  border: 0;
  border-radius: 2px;

  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
  font-weight: var(--psTypeFontWeightMedium);
  text-align: center;

  /* TODO: font family */
  color: #fff;
  background: var(--psColorsOrange);
}
/* size */
.ps-button--tiny__2OADV {
  font-size: var(--psTypeFontSizeExtraSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--small__dz_BG {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--medium__33x7N {
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightStandard);
}
.ps-button--large__2aoJi {
  font-size: var(--psTypeFontSizeMedium);
  line-height: var(--psTypeLineHeightExtra);
}
/* appearance */
.ps-button--stroke__1c8f6 {
  border: 1px solid var(--psColorsOrange);
  color: var(--psColorsOrange);
  background: none;
}
.ps-button--flat__1S8n0 {
  border: none;
  color: var(--psColorsOrange);
  background: none;
}
/* icon and iconAlign */
/* disabled */:root {
  /* ui colors */
  --psColorsWhite: #ffffff;
  --psColorsBone: #f2f2f2;
  --psColorsGray01: #cccccc;
  --psColorsGray02: #aaaaaa;
  --psColorsGray03: #555555;
  --psColorsGray04: #363636;
  --psColorsGray05: #222222;
  --psColorsGray06: #181818;
  --psColorsBlack: #000000;

  --psColorsPink: #e80a89;
  --psColorsRed: #de3636;
  --psColorsOrange: #f96816;
  --psColorsOrangeLight: #ff7b39;
  --psColorsYellow: #ffc200;
  --psColorsGreenLight: #86ce21;
  --psColorsBlue: #137bc2;

  /* role colors */
  --psColorsRoleYellowLighter: #fd39bc;
  --psColorsRoleYellowLight: #fbcd64;
  --psColorsRoleYellow: #f8b721;
  --psColorsRoleYellowDark: #ae8017;
  --psColorsRoleYellowDarker: #7c5b12;
}
:root {
  /* spacing */
  --psLayoutSpacingTiny: 4px;
  --psLayoutSpacingExtraSmall: 8px;
  --psLayoutSpacingSmall: 12px;
  --psLayoutSpacingMedium: 16px;
  --psLayoutSpacingLarge: 24px;
  --psLayoutSpacingXl: 40px;
  --psLayoutSpacingXxl: 56px;
}
:root {
  --psTypeFontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

  /* font size */
  --psTypeFontSizeGigantic: 60px;
  --psTypeFontSizeXxxl: 48px;
  --psTypeFontSizeXxl: 36px;
  --psTypeFontSizeXl: 30px;
  --psTypeFontSizeLarge: 24px;
  --psTypeFontSizeMedium: 18px;
  --psTypeFontSizeSmall: 14px;
  --psTypeFontSizeExtraSmall: 12px;

  /* letter spacing */
  --psTypeLetterSpacingGigantic: -1px;
  --psTypeLetterSpacingXxxl: -0.72px;
  --psTypeLetterSpacingXxl: -0.54px;
  --psTypeLetterSpacingXl: -0.45px;
  --psTypeLetterSpacingLarge: 0.36px;
  --psTypeLetterSpacingMedium: 0;
  --psTypeLetterSpacingSmall: 0;
  --psTypeLetterSpacingExtraSmall: 0;

  /* font weight */
  --psTypeFontWeightBold: 700;
  --psTypeFontWeightMedium: 500;
  --psTypeFontWeightBook: 400;
  --psTypeFontWeightLight: 300;
  --psTypeFontWeightExtraLight: 200;

  /* line height */
  --psTypeLineHeightTight: 20px;
  --psTypeLineHeightStandard: 24px;
  --psTypeLineHeightExtra: 32px;
  --psTypeLineHeightHuge: 40px;
}
* {
  box-sizing: border-box;
}
html {
  font-family: var(--psTypeFontFamily);
}