@import url(https://cloud.typography.com/6966154/691568/css/fonts.css);:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___3ahFT {
}
.page___2ecub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.side___22xgp {
}
.main___2FH7c {
  padding: 12px
    24px
    24px
    24px;
  background: #ffffff;
}
.content___2fqeR {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .page___2ecub {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side___22xgp {
    width: 200px;
  }
  .main___2FH7c {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-left: 1px solid #cccccc;
  }
  .content___2fqeR {
    max-width: 900px;
    min-width: 300px;
  }
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___tDhu6 {
  border-top: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 769px) {
  .root___tDhu6 {
    min-height: 100%;
    border-top: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___3gTjL {
  padding: 12px 24px;
  border-bottom: 1px solid #cccccc;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___3jRfd {
  margin: 0;
  color: #000000;
  font-size: 12px;
  line-height: 32px;
  font-weight: 500;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___2a0NR {
  padding-left: 14px; /* TODO: how to handle additive spacing scenarios? */
}
.box___GDXzH {
  display: inline-block;
  height: 8px;
  width: 0px;
  margin-right: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#f05a28), to(#e80a89));
  background: linear-gradient(to right, #f05a28, #e80a89);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.link___39ybE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: #555555;
  white-space: nowrap;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.link___39ybE:hover {
  color: #000000;
}
.link___39ybE:hover .box___GDXzH {
  width: 8px;
  padding-left: 8px;
  margin-right: 12px;
}
.linkActive___2X5a0 {
  color: #000000;
  font-weight: 700;
}
.linkActive___2X5a0 .box___GDXzH {
  width: 8px;
  padding-left: 8px;
  margin-right: 12px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___fjNbW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cccccc;
  text-decoration: none;
  padding: 24px 0;
}
.img___2Y4PG {
  height: 31px;
  width: 31px;
  margin-right: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f05a28), to(#e80a89));
  background: linear-gradient(to bottom, #f05a28, #e80a89);
  border-radius: 50%;
}
.text___2N1AE {
  margin: 0;
}
.textCompany___2vdfr {
  display: block;
  letter-spacing: .15em;
  font-size: 12px;
  font-weight: 500;
  color: #000; /* TODO: real colorz */
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  padding-top: 8px;
}
.textTitle___2JzcD {
  font-size: 8px; /* TODO: not in ds */
  color: #555555;
  font-weight: 500;
}
@media screen and (min-width: 769px) {
  .root___fjNbW {
    padding: 72px 0;
  }
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___31acu {
  height: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#f05a28), to(#e80a89));
  background: linear-gradient(to right, #f05a28, #e80a89);
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-button___2EFfR {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 12px 16px;
  border: 0;
  border-radius: 2px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;

  /* TODO: font family */
  color: #ffffff;
  background: #f96816;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.ps-button___2EFfR:hover {
  background: #ff7b39;
}
/* size */
.ps-button--tiny___cmVTE {
  font-size: 12px;
  line-height: 24px;
  padding: 0 8px;
  height: 24px;
}
.ps-button--small___3bU65 {
  font-size: 14px;
  line-height: 24px;
  padding: 4px 12px;
  height: 32px;
}
.ps-button--medium___ATQAu {
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px;
  height: 40px;
}
.ps-button--large___1zAYp {
  font-size: 18px;
  line-height: 32px;
  padding: 4px 16px;
  height: 48px;
}
/* appearance */
.ps-button--stroke___2-hZL {
  border: 1px solid #f96816;
  color: #f96816;
  background: none;
}
.ps-button--stroke___2-hZL:hover {
  color: #ff7b39;
  border: 1px solid #ff7b39;
  background: none;
}
.ps-button--flat___3IG4H {
  border: none;
  color: #aaaaaa;
  background: none;
}
.ps-button--flat___3IG4H:hover {
  color: #ffffff;
  background: #363636;
}
/* disabled */
.ps-button--disabled___2IvkE {
  color: #aaaaaa;
}
.ps-button--disabled___2IvkE:hover {
  color: #aaaaaa;
}
.ps-button--disabled___2IvkE.ps-button--stroke___2-hZL {
  border: none;
}
.ps-button--disabled___2IvkE:not(.ps-button--flat___3IG4H) {
  background: #555555;
}
.ps-button--disabled___2IvkE.ps-button--flat___3IG4H {
  opacity: 0.4;
}
.ps-button--disabled___2IvkE.ps-button--flat___3IG4H:hover {
  color: #aaaaaa;
  background: none;
}
/* icon and iconAlign */
.ps-button--icon-align-right___1H91Q {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.ps-button__icon___3o9gL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}
.ps-button___2EFfR .ps-icon__fg--fill___2t5_8 {
  fill: #ffffff;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.ps-button___2EFfR .ps-icon__fg--stroke___2ym0E {
  stroke: #ffffff;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.ps-button--stroke___2-hZL .ps-icon__fg--fill___2t5_8 {
  fill: #f96816;
}
.ps-button--stroke___2-hZL .ps-icon__fg--stroke___2ym0E {
  stroke: #f96816;
}
.ps-button--stroke___2-hZL:hover .ps-icon__fg--fill___2t5_8 {
  fill: #ff7b39;
}
.ps-button--stroke___2-hZL:hover .ps-icon__fg--stroke___2ym0E {
  stroke: #ff7b39;
}
.ps-button--flat___3IG4H .ps-icon__fg--fill___2t5_8 {
  fill: #aaaaaa;
}
.ps-button--flat___3IG4H .ps-icon__fg--stroke___2ym0E {
  stroke: #aaaaaa;
}
.ps-button--flat___3IG4H:hover .ps-icon__fg--fill___2t5_8 {
  fill: #ffffff;
}
.ps-button--flat___3IG4H:hover .ps-icon__fg--stroke___2ym0E {
  stroke: #ffffff;
}
.ps-button--disabled___2IvkE .ps-icon__fg--fill___2t5_8 {
  fill: #aaaaaa;
}
.ps-button--disabled___2IvkE .ps-icon__fg--stroke___2ym0E {
  stroke: #aaaaaa;
}
.ps-button--icon-align-right___1H91Q .ps-button__icon___3o9gL {
  margin-right: 0;
  margin-left: 8px;
}
.ps-button--icon-only___1iOv7 {
  padding: 0;
}
.ps-button--icon-only___1iOv7.ps-button--tiny___cmVTE {
  width: 24px;
}
.ps-button--icon-only___1iOv7.ps-button--small___3bU65 {
  width: 32px;
}
.ps-button--icon-only___1iOv7.ps-button--medium___ATQAu {
  width: 40px;
}
.ps-button--icon-only___1iOv7.ps-button--large___1zAYp {
  width: 48px;
}
.ps-button--icon-only___1iOv7 .ps-button__icon___3o9gL {
  margin: 0;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-card___2zSSP {
  width: 100%;
  text-align: left;
}
/* size */
.ps-card--small___3gxtm {
  min-width: 120px;
  max-width: 240px;
}
.ps-card--medium___5eDWG {
  min-width: 240px;
  max-width: 440px;
}
.ps-card--large___xbvHu {
  min-width: 440px;
  max-width: 680px;
}
/* generic links w/in component */
.ps-card__link___1R35W {
  color: inherit;
  cursor: pointer;
}
.ps-card__link___1R35W:hover, .ps-card__link___1R35W:active {
  color: #ffffff;
  text-decoration: underline;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.ps-card__overlays___2pb7F {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ps-card--small___3gxtm .ps-card__overlays___2pb7F {
  height: 96px;
}
.ps-card--medium___5eDWG .ps-card__overlays___2pb7F {
  height: 144px;
}
.ps-card--large___xbvHu .ps-card__overlays___2pb7F {
  height: 240px;
}
.ps-card__image-frame___1ocA2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}
.ps-card__image___2MmCd {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}
.ps-card__action-bar___2d3QI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 64px;
  padding: 8px
    8px
    0
    8px;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.75)),
    to(transparent)
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    transparent
  );
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  pointer-events: none;
  opacity: 0;
}
.ps-card--full-overlay___14Isw .ps-card__action-bar___2d3QI {
  background: none;
}
.ps-card--action-bar-visible___1BAxp .ps-card__action-bar___2d3QI,
.ps-card__overlays___2pb7F:hover .ps-card__action-bar___2d3QI,
.ps-card__overlays___2pb7F:active .ps-card__action-bar___2d3QI {
  opacity: 1;
}
.ps-card__action-bar__action___3lYAq {
  pointer-events: all;
}
.ps-card__action-bar__action___3lYAq + .ps-card__action-bar__action___3lYAq {
  margin-left: 4px;
}
.ps-button--flat--action-bar___1LQMj:hover, .ps-button--flat--action-bar___1LQMj:active {
  background: none;
}
.ps-icon__fg--fill--action-bar___SETDA {
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.ps-button--flat--action-bar___1LQMj:hover .ps-icon__fg--fill--action-bar___SETDA,
.ps-button--flat--action-bar___1LQMj:active .ps-icon__fg--fill--action-bar___SETDA {
  fill: #ffffff;
}
.ps-icon__fg--stroke--action-bar___2jWOm {
  stroke: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.ps-button--flat--action-bar___1LQMj:hover .ps-icon__fg--stroke--action-bar___2jWOm,
.ps-button--flat--action-bar___1LQMj:active .ps-icon__fg--stroke--action-bar___2jWOm {
  stroke: #ffffff;
}
.ps-card__full-overlay___351f7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  pointer-events: none;
  opacity: 0;
}
.ps-card--full-overlay-visible___3dcHV .ps-card__full-overlay___351f7,
.ps-card__overlays___2pb7F:hover .ps-card__full-overlay___351f7,
.ps-card__overlays___2pb7F:active .ps-card__full-overlay___351f7 {
  opacity: 1;
}
.ps-card__full-overlay__child___1cNRf {
  pointer-events: all;
}
.ps-card__tag___aRZAY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 12px;
  left: 0;
  padding: 4px 8px;
  background: #363636;
  border-radius: 0 2px 2px 0;
}
.ps-card__tag__part___1rjkA {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
}
.ps-card__tag__part___1rjkA + .ps-card__tag__part___1rjkA {
  margin-left: 8px;
}
.ps-card__tag__part--icon___4cg9Q {
  height: 16px;
  width: 16px;
}
.ps-icon__fg--fill--tag___TN08i {
  fill: #ffffff;
}
.ps-icon__fg--stroke--tag___2q5qW {
  stroke: #ffffff;
}
.ps-card__bonus-bar___1g5FL {
  position: absolute;
  bottom: 12px;
  left: 12px;
}
.ps-card__progress___3pVLT {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(204, 204, 204, 0.4);
  overflow: hidden;
}
.ps-card__progress__bar___41-QK {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #ffffff;
}
.ps-card__progress__bar--completed___1Czvz {
  background-color: #23aa5a;
}
.ps-card__title___CCHuG {
  display: block;
  margin-top: 8px;
  font-weight: 500;
  overflow: hidden;
  color: #ffffff;
}
.ps-card__title--link___2ut-T {
}
.ps-card--small___3gxtm .ps-card__title___CCHuG {
  font-size: 12px;
  line-height: 20px;
  max-height: 40px;
}
.ps-card--medium___5eDWG .ps-card__title___CCHuG {
  font-size: 14px;
  line-height: 20px;
  max-height: 40px;
}
.ps-card--large___xbvHu .ps-card__title___CCHuG {
  font-size: 18px;
  line-height: 24px;
  max-height: 48px;
}
.ps-card__metadata___3YV1n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 20px;
  color: #aaaaaa;
  max-width: 100%;
}
.ps-card--small___3gxtm .ps-card__metadata___3YV1n, .ps-card--medium___5eDWG .ps-card__metadata___3YV1n {
  font-size: 12px;
}
.ps-card--large___xbvHu .ps-card__metadata___3YV1n {
  font-size: 14px;
}
.ps-card__metadata__datum___-Ixrv {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}
.ps-card__metadata__datum___-Ixrv:nth-of-type(1) {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.ps-card__metadata__datum--link___1GmT- {
}
.ps-card__metadata__dot___1c4pP {
  display: inline-block;
  margin: 0 8px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-icon___2krFn {
  display: inline-block;
  height: 24px;
  width: 24px;
}
.ps-icon__fg--fill___33RB2 {
  fill: #ffffff;
}
.ps-icon__fg--stroke___3xx8p {
  stroke: #ffffff;
}
/* size */
.ps-icon--x-large___35PdO {
  height: 160px;
  width: 160px;
}
.ps-icon--large___2lD9w {
  height: 96px;
  width: 96px;
}
.ps-icon--medium_____wF0 {
  height: 48px;
  width: 48px;
}
.ps-icon--small___32ekv {
  height: 24px;
  width: 24px;
}
.ps-icon--tiny___3jZTf {
  height: 12px;
  width: 12px;
}

:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___2WK7o {
  padding: 24px;
  background: #363636;
}
.code___L8_Fs {
  background: none;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___3yMNg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px
    -12px;
}
.root___3yMNg > div {
  margin: 12px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___1bCcq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 150px;
  padding: 12px;
}
.rootLight___3qqvq {
  border: 1px solid #cccccc;
}
.rootDark___1LRC3 {
}
.hex___2pc0p, .var___2gxRY {
  white-space: nowrap;
}
.var___2gxRY {
  opacity: 0.75;
}
.rootLight___3qqvq .hex___2pc0p, .rootLight___3qqvq .var___2gxRY {
  color: #222222;
}
.rootDark___1LRC3 .hex___2pc0p, .rootDark___1LRC3 .var___2gxRY {
  color: #ffffff;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___2eQJA {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 48px);
  height: 120px;
  padding: 24px 12px;
}
.label___3u7lH {
  color: #ffffff;
  white-space: nowrap;
}
.var___2B6Qu {
  opacity: 0.75;
}
.root___1fiz8 {
}
.start___2z2ON, .stop___2YtpK, .var___1j4dt {
}
.start___2z2ON {
}
.root___1fiz8 .stop___2YtpK {
  margin-left: auto;
}
.var___1j4dt {
}
.root___n4j7q {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.start___10QSX, .stop___3gLxC, .var___3eGOj {
}
.start___10QSX {
}
.root___n4j7q .stop___3gLxC {
  margin-top: auto;
}
.var___3eGOj {
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
/*
  NOTE: this is the tradeoff for being able to write markdown docs.
  We get the nice flow of prose in markdown, but we have to deal with
  styling the generated HTML by duplicating component styles (like heading)
  here.
*/
.root___3E7la {
}
.root___3E7la h1 {
  font-size: 36px;
  letter-spacing: -0.54px;
  font-weight: 300;
  margin: 56px 0;
}
.root___3E7la h2 {
  font-size: 24px;
  letter-spacing: 0.36px;
  font-weight: 400;
  margin: 40px 0 12px 0;
}
.root___3E7la h3 {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 40px 0 12px 0;
}
.root___3E7la pre {
  padding: 24px;
  background: #363636;
  color: #ffffff;
  margin: 12px 0;
}
.root___3E7la pre > code {
  background: none;
}
.root___3E7la p {
  color: #363636;
  font-size: 14px;
  margin: 12px 0;
  line-height: 24px;
}
.root___3E7la a {
  color: #f96816;
  text-decoration: none;
}
.root___3E7la a:hover {
  text-decoration: underline;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___1c9_A {
}
.output___Jg5ES {
  margin-bottom: 24px;
}
.src___2aJfq {
  padding: 24px;
  background: #363636;
}
.css___2e2Rd {
  background: none;
  padding: 0;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___18pAw {
}
.output___3KgTT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 24px;
  background: #181818;
  overflow: hidden;
}
.outputHorizontal___2OsGa {
}
.outputVertical___1dqjj {
}
.outputChild___3izpQ {
  margin: 24px 0 0 0;
  color: #ffffff;
}
.outputChild___3izpQ:first-child {
  margin-top: 0;
}
.error___1Huus {
  background: #de3636;
  color: #ffffff;
  overflow: hidden;
  padding: 24px;
}
.editor___3PHDV {
}
.editor___3PHDV .CodeMirror {
  background: none;
}
.editor___3PHDV .CodeMirror, .editor___3PHDV .CodeMirror-scroll {
  height: auto;
}
.src___3sIMm {
  padding: 24px;
  background: #363636;
}
.srcOptions___2W53c {
  margin: 24px 0 0 0;
}
.html___1WDvz, .react___2PE-e {
  background: none;
  padding: 0;
}
@media screen and (min-width: 769px) {
  .outputHorizontal___2OsGa {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .outputChild___3izpQ + .outputChild___3izpQ {
    margin: 0 0 0 98px;
  }
  .outputVertical___1dqjj .outputChild___3izpQ + .outputChild___3izpQ {
    margin: 45px 0 0 0;
  }
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___1d5_f {
  color: #ffffff;
  margin-bottom: 40px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___1I1AA {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 2px 3px;
  height: 24px;
  background: #555555;
  border-radius: 12px;
  white-space: nowrap;
}
.option___1fQEn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  line-height: calc(20px - 1);
  font-size: 10px; /* TODO: size not in design system, ok? */
  color: #ffffff;
  padding: 0 13px;
  border: none;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-weight: 500;
}
.optionActive___3ysvS {
  color: #222222;
}
.optionActiveBg___2wINo {
  position: absolute;
  top: 2px;
  width: calc(50% - 6px);
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }
.cm-s-monokai-sublime {
  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #272822;
  color: #F8F8F2;
}
.cm-s-monokai-sublime .CodeMirror-lines {
  padding: 8px 0;
}
.cm-s-monokai-sublime .CodeMirror-gutters {
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #272822;
  padding-right: 10px;
  z-index: 3;
  border: none;
}
.cm-s-monokai-sublime div.CodeMirror-cursor {
  border-left: 3px solid #F8F8F2;
}
.cm-s-monokai-sublime .CodeMirror-activeline-background {
  background: #3E3D32;
}
.cm-s-monokai-sublime .CodeMirror-selected {
  background: #49483E;
}
.cm-s-monokai-sublime .cm-comment {
  color: #75715E;
}
.cm-s-monokai-sublime .cm-string {
  color: #E6DB74;
}
.cm-s-monokai-sublime .cm-number {
  color: #66D9EF;
}
.cm-s-monokai-sublime .cm-atom {
  color: #66D9EF;
}
.cm-s-monokai-sublime .cm-keyword {
  color: #F92672;
}
.cm-s-monokai-sublime .cm-variable {
  color: #A6E22E;
}
.cm-s-monokai-sublime .cm-def {
  font-style: italic;
  color: #FD971F;
}
.cm-s-monokai-sublime .cm-variable-2 {
  color: #F92672;
}
.cm-s-monokai-sublime .cm-property {
  color: #66D9EF;
}
.cm-s-monokai-sublime .cm-operator {
  color: #F92672;
}
.cm-s-monokai-sublime .CodeMirror-linenumber {
  color: #75715E;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-heading___1seKB {
  color: #ffffff;
  margin: 16px 0;
}
.ps-heading--xx-large___1vs6u {
  font-size: 36px;
  letter-spacing: -0.54px;
  line-height: 40px;
  font-weight: 300;
}
.ps-heading--large___12bkX {
  font-size: 24px;
  letter-spacing: 0.36px;
  line-height: 32px;
  font-weight: 400;
}
.ps-heading--medium___2btc0 {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 500;
}
.ps-heading--small-caps___1lKpW {
  color: #aaaaaa;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-list___2HiLR {
  list-style: none;
  margin-left: 0;
  color: #f2f2f2;
  font-size: 14px;
  line-height: 32px;
}
.ps-list--bulleted___3vYHK, .ps-list--numbered___1RRu1 {
  list-style: inherit;
}
.ps-list--numbered___1RRu1 {
  list-style-type: decimal;
}
.ps-list-item___Q1WS2 {
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-p___2GCbM {
  color: #f2f2f2;
  font-size: 14px;
  margin: 12px 0;
  line-height: 24px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.heading___1JaLL {
  color: #181818;
}
.heading--xx-large___umPms {
  margin: 56px 0;
}
.heading--large___1rEjq {
  margin: 56px 0 0 0;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___1mjE0 {
  color: #363636;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___39sG2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px
    -12px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___2TYXt {
  margin: 12px;
}
.box___1yYp9 {
  position: relative;
  height: 150px;
  width: 150px;
  background: #C6E0F2; /* TODO: color from design system? */
}
.border___1Hnda {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: #8FC4E9;
  border-width: 0;
}
.line___1Y8lF {
  position: absolute;
  border-style: dashed;
  border-color: #FF00CE;
  border-width: 0;
}
.lineSingleSide___5xekr {
  background: #8FC4E9;
}
.lineTop___3MsIn {
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-width: 1px;
}
.lineRight___3SN3G {
  top: 0;
  right: 0;
  height: 100%;
  border-left-width: 1px;
}
.lineBottom___38PO0 {
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-width: 1px;
}
.lineLeft___1-NFk {
  top: 0;
  left: 0;
  height: 100%;
  border-right-width: 1px;
}
.label___YDvmq {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___OXGuf {
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.carousel___BxKmS {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  background: #181818;
}
.cardContainer___dazjx {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cardContainer___dazjx + .cardContainer___dazjx {
  margin-left: 16px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-tab-list___JYebA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #555555;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-tab-list-item___2FBfq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% + 1px);
  margin-bottom: -1px;
  color: #aaaaaa;
  font-weight: 400;
  background: none;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  padding: 0 0 4px 0;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.ps-tab-list-item___2FBfq + .ps-tab-list-item___2FBfq {
  margin-left: 24px;
}
.ps-tab-list-item___2FBfq:hover {
  color: #ffffff;
}
.ps-tab-list-item___2FBfq:focus, .ps-tab-list-item___2FBfq:active {
  outline: none;
  color: #ffffff;
  border-bottom: 4px solid #aaaaaa;
  padding: 0;
}
.ps-tab-list-item--active___3LTXw,
.ps-tab-list-item--active___3LTXw:focus,
.ps-tab-list-item--active___3LTXw:active {
  color: #ffffff;
  font-weight: 500;
  padding-bottom: 0;
  border-bottom: 4px solid #f96816;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___2e_NM {
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.ps-link___3ZC5j {
  color: #f96816;
  text-decoration: none;
}
.ps-link___3ZC5j:hover {
  text-decoration: underline;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___1mQlj {
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___2IT2z {
  background: #f2f2f2;
  padding: 24px;
  color: #181818;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 12px;
  border-radius: 12px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___2u06S {
  background: #f2f2f2;
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  padding: 24px;
}
.size___s5-DG {
  color: #181818;
}
.size___s5-DG + .size___s5-DG {
  margin-top: 24px;
}
.sizeSentence___1mqsp {
  color: #181818;
  margin-bottom: 8px;
}
.sizeLabel___32zOi {
  color: #555555;
  font-size: 12px;
}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
.root___3lmq8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px
    -12px;
}
.weight___1w8CH {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 150px;
  min-width: 150px;
  margin: 12px;
  background: #f2f2f2;
  color: #181818;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
}
.weightLetters___3353P {
  font-size: 60px;
  letter-spacing: -1px;
}
.weightLabel___1FV8O {
  color: #555555;
  font-size: 12px;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15}
body{margin:0}
article,aside,footer,header,nav,section{display:block}
h1{font-size:2em;margin:.67em 0}
figcaption,figure,main{display:block}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
b,strong{font-weight:inherit;font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
[hidden],template{display:none}
html{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%;font-family:Gotham SSm A,Gotham SSm B,sans-serif;font-size:.875em;font-weight:400;line-height:1.71429}
*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}
address,blockquote,dl,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,ol,p,pre,table,ul{margin:0}
h1,h2,h3,h4,h5,h6{font-weight:400}
dd,ol,ul{margin-left:24px;line-height:24px}
ol,ul{padding-left:0}
li{>ol,>ul{margin-bottom:0}}
img{max-width:100%;vertical-align:middle}
img[height],img[width]{max-width:none}
button,input,optgroup,select,textarea{font-family:inherit}
:root {
  /* ui colors */

  /* gradients */
}
:root {
  /* spacing */
}
:root {

  /* font size */

  /* letter spacing */

  /* font weight */

  /* line height */
}
:root {
  /* motion */
}
html, body {
  background: #f2f2f2;
}
