@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');

.header {
  display: flex;
  align-items: center;
}
.title {
  &:not(.hack-to-make-more-specific) {
    margin: 0;
    margin-right: var(--psLayoutSpacingLarge);
  }
}

.codeBlock {
  margin: 0 0 var(--psLayoutSpacingLarge) 0;
}

.actions {
  align-items: center;
  display: flex;
  height: 40px;
  padding: 0 var(--psLayoutSpacingXSmall);
  background-color: var(--appColorsBackground2);
}
.actionsLeft {
  margin-right: auto;
}
.actionsRight {
  margin-left: auto;
}

.preview {
  padding: var(--psLayoutSpacingMedium);
  background: var(--appColorsBackgroundLo);
  border-bottom: 1px solid var(--appColorsBorderLow);

  &.dark {
    color: var(--psColorsTextIconHighOnDark);
    background-color: var(--psColorsBackgroundDark2);
  }
  &.light {
    color: var(--psColorsTextIconHighOnLight);
    background-color: var(--psColorsLightDark2);
  }
}

.editor {
  position: relative;
  font-family: 'source code pro', monospace;
  font-size: var(--psTypeFontSizeSmall);
  line-height: var(--psTypeLineHeightTight);
  overflow: auto;
  padding: var(--psLayoutSpacingSmall) var(--psLayoutSpacingMedium);
  height: auto;
  max-height: var(--psLayoutSpacingXLarge);
  transition: max-height var(--psMotionSpeedFast) ease-out;
  overflow-y: hidden;
  background-color: var(--appColorsBackgroundMed);
}
.editorExpanded {
  /* large number so we have something to animate to */
  max-height: 4000px;
}
.editorFade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  pointer-events: none;
}
[data-psds-theme='light'] .editorFade {
  background: linear-gradient(
    180deg,
    rgba(247, 249, 250, 0) 20%,
    rgba(247, 249, 250, 1) 100%
  );
}
[data-psds-theme='dark'] .editorFade {
  background: linear-gradient(
    to bottom,
    rgba(24, 28, 32, 0) 20%,
    rgba(24, 28, 32, 1) 100%
  );
}
.clickToExpand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: none;
  width: 100%;
  border: 0;
  cursor: pointer;
}
.clickToExpand:focus {
  outline: none;
}

.example {
  border-radius: 0.2em;
  overflow: hidden;
  border: 1px solid var(--appColorsBorderLow);
}
