@import url('https://fonts.googleapis.com/css?family=DM+Mono:400');

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--ps-layout-spacing-large);
}
.title {
  &:not(.hack-to-make-more-specific) {
    margin: 0;
    margin-right: var(--ps-layout-spacing-medium);
  }
}

.codeBlock {
  margin: 0 0 var(--ps-layout-spacing-large) 0;
}

.actions {
  align-items: center;
  display: flex;
  height: 40px;
  padding: 0 var(--ps-layout-spacing-xsmall);
  background-color: var(--app-colors-background-med);
}
.actionsLeft {
  margin-right: auto;
}
.actionsRight {
  margin-left: auto;
}

.preview {
  padding: var(--ps-layout-spacing-medium);
  background: var(--app-colors-background-low);
  border-bottom: 1px solid var(--app-colors-border-low);

  &.dark {
    color: var(--ps-colors-text-icon-high-on-dark);
    background-color: var(--ps-colors-background-dark-2);
  }
  &.light {
    color: var(--ps-colors-text-icon-high-on-light);
    background-color: var(--ps-colors-light-dark-2);
  }
}

.editor {
  position: relative;
  font-family: 'DM Mono', monospace;
  font-size: var(--ps-type-font-size-small);
  line-height: var(--ps-type-line-height-tight);
  overflow: auto;
  padding: var(--ps-layout-spacing-small) var(--ps-layout-spacing-medium);
  height: auto;
  max-height: var(--ps-layout-spacing-xlarge);
  transition: max-height var(--ps-motion-speed-fast) ease-out;
  overflow-y: hidden;
  background-color: var(--app-colors-background-med);
}
.editorExpanded {
  /* large number so we have something to animate to */
  max-height: 4000px;
}
.editorFade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  pointer-events: none;
}
[data-psds-theme='light'] .editorFade {
  background: linear-gradient(
    180deg,
    rgba(247, 249, 250, 0) 20%,
    rgba(247, 249, 250, 1) 100%
  );
}
[data-psds-theme='dark'] .editorFade {
  background: linear-gradient(
    to bottom,
    rgba(24, 28, 32, 0) 20%,
    rgba(24, 28, 32, 1) 100%
  );
}
.clickToExpand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: none;
  width: 100%;
  border: 0;
  cursor: pointer;
}
.clickToExpand:focus {
  outline: none;
}

.example {
  border-radius: 0.2em;
  overflow: hidden;
  border: 1px solid var(--app-colors-border-low);
}
