@import "@pluralsight/ps-design-system-core";

.root {
}
.output {
  margin-bottom: var(--psLayoutSpacingLarge);
}
.src {
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray04);
}
.css {
}
.css :global(.CodeMirror) {
  background: none;
}
.css :global(.CodeMirror),
.css :global(.CodeMirror-scroll) {
  height: auto;
}
