@import "@pluralsight/ps-design-system-core";

.root {
}
.output {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray06);
  overflow: hidden;
}
.outputHorizontal {
  composes: output;
}
.outputVertical {
  composes: output;
}
.outputChild {
  margin: var(--psLayoutSpacingLarge) 0 0 0;
  color: var(--psColorsWhite);
}
.outputChild:first-child {
  margin-top: 0;
}
.error {
  background: var(--psColorsRed);
  color: var(--psColorsWhite);
  overflow: hidden;
  padding: var(--psLayoutSpacingLarge);
}
.editor :global(.CodeMirror) {
  background: none;
}
.editor :global(.CodeMirror), .editor :global(.CodeMirror-scroll) {
  height: auto;
}
.src {
  padding: var(--psLayoutSpacingLarge);
  background: var(--psColorsGray04);
}
.srcOptions {
  margin: var(--psLayoutSpacingLarge) 0 0 0;
}
.html, .react {
  background: none;
  padding: 0;
}

@media screen and (min-width: 769px) {
  .outputHorizontal {
    flex-direction: row;
  }
  .outputChild + .outputChild {
    margin: 0 0 0 98px;
  }
  .outputVertical .outputChild + .outputChild {
    margin: 45px 0 0 0;
  }
}
