.control {
  padding-bottom: var(--ps-layout-spacing-large);
  border-bottom: 1px solid var(--ps-colors-border-low-on-dark);
  margin-bottom: var(--ps-layout-spacing-xlarge);
  color: var(--app-colors-text-icon-high);
}
.label {
  margin-bottom: var(--ps-layout-spacing-large);
}
.desc {
  display: inline-block;
  margin-right: var(--ps-layout-spacing-xsmall);
}
@media (min-width: 769px) {
  .control {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: var(--ps-layout-spacing-large);
  }
}
