.control {
  padding-bottom: var(--psLayoutSpacingLarge);
  border-bottom: 1px solid var(--psColorsBorderLowOnDark);
  margin-bottom: var(--psLayoutSpacingXLarge);
  color: var(--appColorsTextIconHigh);
}
.label {
  margin-bottom: var(--psLayoutSpacingLarge);
}
.desc {
  display: inline-block;
  margin-right: var(--psLayoutSpacingXSmall);
}
@media (min-width: 769px) {
  .control {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: var(--psLayoutSpacingLarge);
  }
}
