/* TODO: create global vars file */
:root {
  --asideWidth: 240px;
  --metaWidth: 276px;
  --topNavHeight: 56px;
}

.frame {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & .container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--topNavHeight));
  }

  @media (--breakpoint-small) {
    padding-left: var(--asideWidth);
  }
  @media (--breakpoint-large) {
    padding-right: var(--metaWidth);
  }

  &.fullWidth {
    padding-right: 0;
  }
}

.dark {
  background: var(--psColorsBackgroundDark1);

  --appColorsBackgroundLo: var(--psColorsBackgroundDark1);
  --appColorsBackgroundMed: var(--psColorsBackgroundDark2);
  --appColorsBackgroundHi: var(--psColorsBackgroundDark3);
  --appColorsBorderLow: var(--psColorsBorderLowOnDark);
  --appColorsBorderHigh: var(--psColorsBorderHighOnDark);
  --appColorsPrimaryActionText: var(--psColorsPrimaryActionTextDarkTheme);
  --appColorsTextIconHigh: var(--psColorsTextIconHighOnDark);
  --appColorsTextIconLow: var(--psColorsTextIconLowOnDark);
}

.light {
  background: var(--psColorsWhite);

  --appColorsBackgroundLo: var(--psColorsBackgroundLight3);
  --appColorsBackgroundMed: var(--psColorsBackgroundLight2);
  --appColorsBackgroundHi: var(--psColorsBackgroundLight1);
  --appColorsBorderLow: var(--psColorsBorderLowOnLight);
  --appColorsBorderHigh: var(--psColorsBorderHighOnLight);
  --appColorsPrimaryActionText: var(--psColorsPrimaryActionTextLightTheme);
  --appColorsTextIconHigh: var(--psColorsTextIconHighOnLight);
  --appColorsTextIconLow: var(--psColorsTextIconLowOnLight);
}

.main {
  overflow: auto;
  flex: 0 1 auto;
  margin: 0 auto;
  max-width: 1000px;
  padding: var(--psLayoutSpacingMedium) var(--psLayoutSpacingXLarge);
}

