@custom-media --breakpoint-small (width >= 768px);
@custom-media --breakpoint-large (width >= 1280px);

/* TODO: create global vars file */
:root {
  --asideWidth: 240px;
  --metaWidth: 276px;
  --topNavHeight: 56px;
}

.frame {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

  & .container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--topNavHeight));
  }

  @media (--breakpoint-small) {
    padding-left: var(--asideWidth);
  }
  @media (--breakpoint-large) {
    padding-right: var(--metaWidth);
  }

  &.fullWidth {
    padding-right: 0;
  }
}

.dark {
  background: var(--psColorsBackgroundDark1);
}

.light {
  background: var(--psColorsWhite);
}

.main {
  overflow: auto;
  flex: 0 1 auto;
  margin: 0 auto;
  max-width: 800px;
  padding: var(--psLayoutSpacingMedium) var(--psLayoutSpacingXLarge);
}
