@custom-media --breakpoint-small (width >= 768px);

/* TODO: create global vars file */
:root {
  --asideWidth: 260px;
  --metaWidth: 296px;
  --topNavHeight: 56px;
}

.frame {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

  & .container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--topNavHeight));
  }
}

.dark {
  background: var(--psColorsBackgroundDark1);
}

.light {
  background: var(--psColorsWhite);
}

.main {
  overflow: auto;
  flex: 1;
  padding: var(--psLayoutSpacingXLarge);

  @media (--breakpoint-small) {
    margin-left: var(--asideWidth);
    margin-right: var(--metaWidth);
  }
}
