@custom-media --breakpoint-small (width >= 768px);
@custom-media --breakpoint-medium (width >= 1024px);

/* TODO: create global vars file */
:root {
  --asideWidth: 260px;
  --metaWidth: 296px;
  --topNavHeight: 56px;
}

.frame {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

  & .container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--topNavHeight));
  }
}

.dark {
  background: var(--psColorsBackgroundDark1);
}

.light {
  background: var(--psColorsWhite);
}

.main {
  overflow: auto;
  flex: 1;
  padding: var(--psLayoutSpacingXLarge);

  @media (--breakpoint-small) {
    margin-left: var(--asideWidth);
  }
  @media (--breakpoint-medium) {
    margin-right: var(--metaWidth);
  }

  &.mainFullWidth {
    margin-right: 0;
  }
}

.example {
  border-radius: 0.2em;
  padding: var(--psLayoutSpacingMedium);
  background: var(--psColorsWhite);
}
