@custom-media --breakpoint-small (width >= 768px);

.header {
  align-items: center;
  display: flex;
  height: var(--topNavHeight);
  padding: var(--psLayoutSpacingXSmall);
  background: var(--appColorsBackgroundHi);

  @media (--breakpoint-small) {
    background-color: transparent;
  }

  & .menuButton {
    margin-right: auto;

    @media (--breakpoint-small) {
      display: none;
    }
  }

  & .themeButton {
    position: fixed;
    top: var(--psLayoutSpacingXSmall);
    right: var(--psLayoutSpacingXSmall);

    @media (--breakpoint-small) {
      top: var(--psLayoutSpacingMedium);
      right: var(--psLayoutSpacingMedium);
    }
  }
}
