@import '@pluralsight/ps-design-system-normalize';
@import '@pluralsight/ps-design-system-core';

/* --psBreakpointsXSmall: 640px; */
/* --psBreakpointsSmall: 768px; */
/* --psBreakpointsMedium: 1024px; */
/* --psBreakpointsLarge: 1280px; */
/* --psBreakpointsXLarge: 1600px; */

@custom-media --breakpoint-x-small (width >= 640px);
@custom-media --breakpoint-small (width >= 768px);

.frame {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.darkTheme {
  background: var(--psColorsBackgroundDark2);
}

.lightTheme {
  background: var(--psColorsBackgroundLight2);
}

.aside {
  width: 200px;
  background: var(--psColorsBackgroundLight1);
  border-right: 1px solid var(--psColorsBorderLowOnLight);
  min-height: 100vh;

  @media (--breakpoint-small) {
  }
}

.main {
  flex: 1;
  min-height: 100vh;

  @media (--breakpoint-small) {
  }
}
